
/* RESET */
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th { font-size: 1em; font-weight: normal; font-style: normal; }
ul,ol { list-style: none; }

#container { width: 800px; margin: 0 auto; position: relative; }
#main { width:100%; position: relative; }


#main p { margin-bottom: 18px; }
#main h1 { font-weight: bold; font-size: 24px; line-height: 36px; margin-bottom: 18px; }
#main h2 { font-weight: bold; font-size: 16px; line-height: 18px; margin-bottom: 18px; }
#main h3 { font-weight: bold; font-size: 1em; line-height: 18px; }
#main h4 { font-weight: bold; font-size: 10px; line-height: 18px; }


#main ul { margin-bottom: 18px; list-style: none outside; }
#main ol { margin-bottom: 18px; list-style: decimal; margin-left: 2.2em; }
#main ul.square,
#main ul.circle { margin-left: 1.5em; }
#main ul.square { list-style: square outside; }
#main ul.circle { list-style: circle outside; }
#main ul ul.circle,
#main ul ul.square { margin-top: 4px; margin-bottom: 5px; }


