<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>This project builds an Audio Unit Effect Component</string>
	<key>FilesToMacroExpand</key>
	<array>
		<string>Resources/Info.plist</string>
		<string>Resources/version.plist</string>
		<string>Resources/English.lproj/InfoPlist.strings</string>
		<string>Source/«PROJECTNAME»_Prefix.pch</string>
		<string>Source/«PROJECTNAME».cpp</string>
		<string>Source/«PROJECTNAME».h</string>
		<string>Source/«PROJECTNAME»Version.h</string>
		<string>Source/«PROJECTNAME».r</string>
		<string>Source/«PROJECTNAME».exp</string>
	</array>
	<key>FilesToRename</key>
	<dict>
		<key>Source/StarterAU.cpp</key>
		<string>Source/«PROJECTNAME».cpp</string>
		<key>Source/StarterAU.exp</key>
		<string>Source/«PROJECTNAME».exp</string>
		<key>Source/StarterAU.h</key>
		<string>Source/«PROJECTNAME».h</string>
		<key>Source/StarterAU.r</key>
		<string>Source/«PROJECTNAME».r</string>
		<key>Source/StarterAUVersion.h</key>
		<string>Source/«PROJECTNAME»Version.h</string>
		<key>Source/StarterAU_Prefix.pch</key>
		<string>Source/«PROJECTNAME»_Prefix.pch</string>
		<key>StarterAU.xcode</key>
		<string>«PROJECTNAME».xcode</string>
	</dict>
</dict>
</plist>
