<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jpg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>jpeg type</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>JPEG</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mac</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>mac type</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MAC</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jp2</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>jp2 type</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>jp2</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bmp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>bmpf type</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BMPf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bmp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>bmp type</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BMP</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tif</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>tif type</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TIF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tiff</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>tiff type</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TIFF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pic</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>pic type</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PICT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pict</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>pict type</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PICT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gif</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>gif type</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>GIF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>png type</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PNG</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>psd</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>psd type</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PSD</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>qif</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>qif type</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>QIF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>qti</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>qti type</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>QTI</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>qtif</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>qtif type</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>QTIF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sgi</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>sgi type</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SGI</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tga</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>tga type</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TGA</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tga</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>tpic type</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TPIC</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fpx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>fpx type</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>FPX</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fpix</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>fpix type</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>FPix</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pntg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>pntg type</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PNTG</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>ColorMatching</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
