#contents {
	position: absolute;
	top: 10px;
	left: 8px;
	width: 730px;
	height: 312px;
	overflow: hidden;
	display: block;
}

#contents_blast {
	position: absolute;
	top: 12px;
	left: 45px;
	width: 705px;
	height: 20px;
	font: 16px "Lucida Grande";
	font-weight: bold;
	text-align: center;
	color: #000099;
	overflow: hidden;
	cursor: pointer;
	z-index: 2;
}

#contents_blast:hover {
	text-decoration: underline;
}


#myScrollBar {
	position: absolute;
	left: 737px;
	top: 16px;
	width: 18px;
	height: 308px;
	display: block;
}

/* Need scroll bar, but hiding it with z-index.
Keep this here in case we want to open up the blast window to accommodate multiple lines later. */
#myScrollBar_blast {
	position: absolute;
	z-index: -20;
	left: 747px;
	top: 70px;
	width: 18px;
	height: 27px;
	display: block;
}

.row {
	position: relative;
	left: 8px;
	width: 710px;
	height: 24px;
}

.row:hover{
	background-color: #E5E5E5;
}

.title {
	position: absolute;
	font: 12px "Lucida Grande";
	font-weight: normal;
	color: #000099;
	top: 8px;
	left: 0px;
	width: 667px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
	border-bottom: 1px solid #b3b3b3;
	cursor: pointer;
}

.title:hover {
	color: #000099;
	text-decoration: none;
	cursor: pointer;
}


.date {
	position: absolute;
	font: 12px "Lucida Grande";
	font-weight: normal;
	color: #808080;
	text-align: right;
	display: inline-block;
	top: 8px;
	left: 655px;
	width: 55px;
	border-bottom: 1px solid #b3b3b3;
}


#ohnoes {
	position: absolute;
	top: 175px;
	left: 225px;
	width: 372px;
	overflow: hidden;
	text-align: center;
	font: 14px "Lucida Grande";
	font-weight: bold;
	color: red;
	display: none;
}

#ohnoes_blast {
	position: absolute;
	top: 15px;
	left: 215px;
	width: 400px;
	overflow: hidden;
	text-align: center;
	font: 11px "Lucida Grande";
	font-weight: bold;
	color: red;
	display: none;
	z-index: 20;
}
