/*** ALL TABS ***/

body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande";
    width: 800px;
    overflow: hidden;
}

#allContent { 
    width: 800px;
    height: 500px;
}

.tab_content {
    margin: 0;
    padding: 0;
    display: none;
    width: 800px;
    height: 475px;
}

#macosx_resource_background,
#iphone_resource_background,
#news_rss_background,
#documentation_background,
#mailing_lists_background,
#tips_background {
	position: absolute;
	margin-top: 0px;
	margin-left: 0px;
	z-index: -10;
}


/*** TOOLTIP FOR UPDATE LIBRARY BADGE ***/

.tab_content #update_library {
	position: absolute;
    margin-left: 742px;
    margin-top: 444px;
}


/* Distance from the top and left or right of the DIV wrapper */
#tooltip, #tooltip ul {
	padding: 0px;
	margin-top: 12px;
	margin-left: -315px;
	width: 0px;
	list-style: none;
    font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
}


/* Set the width of the popup menu, and the spacing from
it's border */
#tooltip li ul {
	position: absolute;
	display: none;
	width: 295px;
	padding-left: 7px;
	padding-bottom: 1px;
	background-color: #FCFDC9;
	border: 1px solid #A9A9A9;
}

#tooltip li:hover ul {
	display: block;
}




/**** TAB BOX ****/

#tabBox {
	position: absolute;
	top: 15px;
	left: 20px;
}

#tabBox ul {
    padding: 0;
    margin: 0;
}

#tabBox ul li {
    font-size: 13px;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
    float: left;
}

#tabBox ul li.active {
    color: #545999;	
}

#tabBox ul li.inactive {
    color: #333333;
}

#tabBox ul li:hover {
    color: #7076cc;
    cursor: pointer;
}

/**** SPLASH TAB ****/

#tab_splash {
    display: block;
    background: url("../Images/splash_background.png") no-repeat;
}

.splashtasks_box {
    position: absolute;
    top: 150px;
    left: 320px;
}

.splashtasks_box ul {
    width: 350px;
    margin-left: 50px;
}

.splashtasks_box ul li {
    margin-top: 0px;
    margin-bottom: 45px;
    margin-left: 0px;
    float: left;
    font-size: 11px;
    color: gray;
}

.splashtasks_box ul li a {
    color: #333333;
    text-decoration: none;
}

.splashtasks_box ul li a:hover {
    color: #333333;
    cursor: pointer;
    text-decoration: underline;
}

.splashtasks_box #tasktitle {
	position: relative;
  	font-size: 12px;
    font-weight: bold;
    color: #333333;
}

.splashtasks_box #xcode {
	position: absolute;
    margin-left: 2px;
    margin-top: 8px;
}

.splashtasks_box #ib {
	position: absolute;
    margin-left: 5px;
    margin-top: 93px;
}

.splashtasks_box #coredata {
	position: absolute;
    margin-left: 1px;
    margin-top: 176px;
}

.splashtasks_box #instruments {
	position: absolute;
    margin-left: -10px;
    margin-top: 263px;
}


/**** STANDARD CONTENT BOX ****/

.standard_content_box {
    position: absolute;
   /* background: #FFF;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0 1px 3px #555; */
    padding: 0;
    z-index: 0;
    visibility: visible;
}

#documentation_box,
#mailing_lists_box
{
    height: 400px;
    width: 786px;
    margin-top: 50px;
    position: absolute;
    z-index: 10;
}

#tips_box
{
    height: 400px;
    width: 786px;
    margin-top: 35px;
    position: absolute;
    z-index: 10;
}

#xcode_news_box {
    position: absolute;
    height: 400px;
    width: 754px;
    margin-top: 50px;
    padding: 5px;
}

/**** SHARED TABS ****/

.tab_content_box,
#xcode_news_box,
#documentation_box,
#mailing_lists_box,
#tips_box
{
    font-size: 11px;
}

.tab_content_box a:link,
#xcode_news_box a:link,
#documentation_box a:link,
#mailing_lists_box a:link,
#tips_box a:link
{
    color: #204e9b;
    text-decoration: none;
}

.tab_content_box a:link:hover,
#xcode_news_box a:link:hover,
#documentation_box a:link:hover,
#mailing_lists_box a:link:hover,
#tips_box a:link:hover
{
    color: #204e9b;
    text-decoration: underline;
}

.tab_content_box a:active,
#xcode_news_box a:active,
#documentation_box a:active,
#mailing_lists_box a:active,
#tips_box a:active
{
    color: #383b66;
    text-decoration: underline;
}

.tab_content_box a:visited,
#xcode_news_box a:visited,
#documentation_box a:visited,
#mailing_lists_box a:visited,
#tips_box a:visited
{
    color: #383b66;
    text-decoration: none;
}

.tab_content_box a:visited:hover,
#xcode_news_box a:visited:hover,
#documentation_box a:visited:hover,
#mailing_lists_box a:visited:hover,
#tips_box a:visited:hover
{
    color: #383b66;
    text-decoration: underline;
}

.tab_content_box_more
{
    font-style: italic;
}

.tab_content_box ul,
#xcode_news_box ul,
#documentation_box ul,
#mailing_lists_box ul,
#tips_box ul
{
    padding: 0;
    list-style: none;
}

.tab_content_box ul li,
#xcode_news_box ul li
{
    margin: 5px 8px 5px 10px;
    padding-left: 20px;
}

.tab_content_box ul li a,
#xcode_news_box ul li a,
#documentation_box ul li a,
#mailing_lists_box ul li a,
#tips_box ul li a
{
    color: #204e9b;
    text-decoration: none;
}

.tab_content_box ul li.video {
    background: url("../Images/iconmini_video.png") left top no-repeat;
    min-height: 15px;
}

.tab_content_box ul li.samplecode {
    background: url("../Images/iconmini_samplecode.gif") left top no-repeat;
    min-height: 15px;
}

.tab_content_box ul li.guide,
#documentation_box ul li.guide
{
    background: url("../Images/iconmini_guide.gif") left top no-repeat;
    min-height: 15px;
}

.tab_content_box ul li.reference,
#documentation_box ul li.reference
{
    background: url("../Images/iconmini_reference.gif") left top no-repeat;
    min-height: 15px;
}

.tab_content_box ul li.releasenote {
    background: url("../Images/iconmini_releasenote.gif") left top no-repeat;
}

.tab_content_box ul li.technote,
#documentation_box ul li.technote
{
    background: url("../Images/iconmini_technote.gif") left top no-repeat;
    min-height: 15px;
}

/**** DEV CENTER TAB ****/

.tab_content #iphone_devcenter {
	position: absolute;
    margin-left: 407px;
    margin-top: 55px;
}

.tab_content #macosx_devcenter {
	position: absolute;
    margin-left: 407px;
    margin-top: 55px;
}

.top_resources_box {
    position: absolute;
    top: 70px;
    left: 10px;
    font-size: 13px;
}

.top_resources_box ul {
    list-style-type: square;
}

.top_resources_box ul li {
    color: #444;
}

.top_resources_box ul li a {
    color: #383b66;
    text-decoration: none;
}

.top_resources_box ul li a:hover {
    text-decoration: underline;
}

.tech_talks_box {
    position: absolute;
    top: 210px;
    left: 16px;
}

.tech_talks_box .tab_content_box_more {
    position: absolute;
    top: 80px;
    left: 330px;
}

#tech_talks_macosx p {
    font-weight: normal;
    margin: -2px 10px -3px 10px;
	font: 11px lucida grande, geneva, helvetica, arial, sans-serif;
	color: #444444;
    width: 355px;
}

#tech_talks_macosx ul li,
{
    margin: 8px 8px 0px 10px;
}

.samplecode_box {
    position: absolute;
    top: 375px;
    left: 16px;
}

.samplecode_box ul {
    width: 350px;
}

.samplecode_box ul li {
    width: 140px;
    margin: 3px;
    margin-left: 10px;
    float: left;
}

.samplecode_box .tab_content_box_more {
    position: absolute;
    top: 80px;
    left: 330px;
}

.reflib_box {
    position: absolute;
    top: 210px;
    left: 410px;
}

.reflib_box .tab_content_box_more {
    position: absolute;
    top: 245px;
    left: 328px;
}

/**** NEWS TAB ****/

#news {
    position: absolute;
    top: 50px;
    left: 16px;
    width: 766px;
    height: 373px;
}

#blast_container {
	position: absolute;
	margin-top: 0;
	margin-left: 12px;
	width: 786px;
	height: 50px;
	z-index: 1;
}

#hotnews_1 {
	position: absolute;
	left: 27px;
	top: -5px;
	width: 15px;
	font: 12px lucida grande, geneva, helvetica, arial, sans-serif;
	font-weight: bold;
	color: #595959;
	text-align: right;
	text-decoration: none;
	line-height: 12px;
	z-index: 22;
}

#hotnews_2 {
	position: absolute;
	left: 23px;
	top: 7px;
	width: 15px;
	font: 12px lucida grande, geneva, helvetica, arial, sans-serif;
	font-weight: bold;
	color: #595959;
	text-align: right;
	text-decoration: none;
	line-height: 12px;
	z-index: 22;
}

#moreheadlines {
	position: absolute;
	left: 50px;
	top: 390px;
	font-size: 10px; 
	font-style: normal;
	text-decoration: none;
	color: #808080;
	z-index: 22;
}

#moreheadlines a {
	color: #808080;
}

#moreheadlines a:hover {
    color: #383b66;
    text-decoration: underline;
}



/**** MAILING LISTS TAB ****/

#mailing_basics_box {
    position: absolute;
    top: 13px;
    left: 16px;
    width: 369px;
    height: 373px;
}

#mailing_basics_title {
	position: absolute;
	top: 18px;
	left: 165px;
	font: 13px lucida grande, geneva, helvetica, arial, sans-serif;
    font-weight: bold;
	color: #fff;
	cursor: default;
	z-index: 10;
}

#mailing_basics_box ul {
	margin-top: 35px;
}

#mailing_basics_box ul li
{
    margin: 6px 16px 6px 16px;
    min-height: 15px;
}

#mailing_basics_box li:hover {
	background-color: #E5E5E5;
}

.rss_mailing_list_badge {
	position: absolute;
	left: 325px;
	background: url('../Images/rss_badge.png') no-repeat;
	width: 27px;
	height: 15px;
}

#mailing_basics_box .tab_content_box_more {
    position: absolute;
    top: 390px;
    left: 323px;
}

#mailing_essentials_box {
    position: absolute;
    top: 13px;
    left: 409px;
    width: 369px;
    height: 373px;
}

#mailing_essentials_title {
	position: absolute;
	top: 18px;
	left: 555px;
	font: 13px lucida grande, geneva, helvetica, arial, sans-serif;
    font-weight: bold;
	color: #fff;
	cursor: default;
	z-index: 10;
}

#mailing_essentials_box ul {
    padding: 0;
    margin: 30px 0 0 16px;
    width: 340px
}

#mailing_essentials_box ul li {
    font-size: 13px;
    font-weight: bold;
    color: #444444;
    margin: 12px 12px 12px 0;
}

#mailing_essentials_box ul li p {
	margin-top: 0;
	margin-bottom: 0;
    font-size: 11px;
    font-weight: normal;
}

/**** TIPS TAB ****/


#tips_box ul {
    padding: 0;
    margin: 30px 0 0 16px;
    width: 350px
}

#tips_box ul li {
    font-size: 13px;
    font-weight: bold;
    color: #444444;
    margin: 5px 10px 9px 0;
}

#tips_box ul li p {
	margin-top: 0;
	margin-bottom: 0;
    font-size: 11px;
    font-weight: normal;
}


#tips_box_1_title {
	position: absolute;
	top: 11px;
	left: 180px;
	font: 13px lucida grande, geneva, helvetica, arial, sans-serif;
    font-weight: bold;
	color: #fff;
	cursor: default;
	z-index: 10;
}


#tips_box_1 {
    position: absolute;
    top: 7px;
    left: 16px;
    width: 369px;
    height: 373px;
}

#tips_box_1 ul {
	margin: 28px 16px 0 16px;
}

#tips_box_1 ul li {
    font-size: 12px;
    font-weight: bold;
    color: #444444;
    width: 340px;
}

#tips_box_1 ul li p {
	margin-top: 0;
	margin-bottom: 7px;
    font-size: 11px;
    font-weight: normal;
}

#tips_box_2_title {
	position: absolute;
	top: 210px;
	left: 180px;
	font: 13px lucida grande, geneva, helvetica, arial, sans-serif;
    font-weight: bold;
	color: #fff;
	cursor: default;
	z-index: 10;
}


#tips_box_2 {
    position: absolute;
    top: 208px;
    left: 16px;
    width: 369px;
    height: 373px;
}

#tips_box_2 ul {
	margin: 28px 16px 0 16px;
}

#tips_box_2 ul li {
    font-size: 12px;
    font-weight: bold;
    color: #444444;
    width: 340px;
}

#tips_box_2 ul li p {
	margin-top: 0;
	margin-bottom: 7px;
    font-size: 11px;
    font-weight: normal;
}

#tips_box_3_title {
	position: absolute;
	top: 11px;
	left: 545px;
	font: 13px lucida grande, geneva, helvetica, arial, sans-serif;
    font-weight: bold;
	color: #fff;
	cursor: default;
	z-index: 10;
}

#tips_box_3 {
    position: absolute;
    top: 7px;
    left: 409px;
    width: 369px;
    height: 373px;
}

#tips_box_3 ul {
    padding: 0;
    margin: 28px 0 0 0;
}

#tips_box_3 ul li {
    font-size: 13px;
    font-weight: bold;
    color: #444444;
    margin: 5px 10px 5px 16px;
    width: 340px;
}

#tips_box_3 ul li p {
	font: 11px lucida grande, geneva, helvetica, arial, sans-serif;
	margin-top: 0;
    font-weight: normal;
}

#tips_box_4_title {
	position: absolute;
	top: 323px;
	left: 555px;
	font: 13px lucida grande, geneva, helvetica, arial, sans-serif;
    font-weight: bold;
	color: #fff;
	cursor: default;
	z-index: 10;
}


#tips_box_4 {
    position: absolute;
    top: 321px;
    left: 409px;
    width: 369px;
    height: 373px;
}


#tips_box_4 ul {
    padding: 0;
    margin: 28px 0 0 0;
}

#tips_box_4 ul li {
    font-size: 13px;
    font-weight: bold;
    color: #444444;
    margin: 5px 10px 5px 16px;
    width: 340px;
}

#tips_box_4 ul li p {
	font: 11px lucida grande, geneva, helvetica, arial, sans-serif;
	margin-top: 0;
    font-weight: normal;
}

