ARCHS = ppc i386 ppc64 x86_64
VALID_ARCHS = ppc64 ppc7400 ppc970 i386 x86_64 ppc
MACOSX_DEPLOYMENT_TARGET[arch=i386] = 10.4
MACOSX_DEPLOYMENT_TARGET[arch=ppc] = 10.4
MACOSX_DEPLOYMENT_TARGET[arch=x86_64] = 10.5
MACOSX_DEPLOYMENT_TARGET[arch=ppc64] = 10.5
PRODUCT_NAME = OutputBins2PDE
GCC_C_LANGUAGE_STANDARD = c99
WARNING_CFLAGS = -wall
FRAMEWORK_SEARCH_PATHS = $(inherited) $(SYSTEM_LIBRARY_DIR)/Frameworks/Carbon.framework/Versions/A/Frameworks $(SYSTEM_LIBRARY_DIR)/Frameworks/ApplicationServices.framework/Versions/A/Frameworks
GCC_ENABLE_OBJC_GC = supported
INFOPLIST_FILE = Info.plist
GCC_PRECOMPILE_PREFIX_HEADER = YES

