<style type="text/css">

BODY {
  color: #000;
  background: #FFF;
  margin-left: 10px;
  margin-right: 550px;
  font-family: verdana, helvetica, sans-serif;
}

H1 {
	color: #000000;
	font-family: geneva, helvetica, arial, sans-serif;
	font-size: 26px;
	font-weight: bold;
}

H2 { 
	color: #000000;
	font-family: geneva, helvetica, arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
}


H3 {
	color: #000000;
	font-family: geneva, helvetica, arial, sans-serif;
	font-size: 10px;
	font-weight: bold;
}

H4	{
	color: #000000;
	font-family: geneva, helvetica, arial, sans-serif;
	font-size: 10px;
}

P   {
	color: #000000;
	font-family: geneva, helvetica, arial, sans-serif;
	font-size: 10px;
}	

LI	{
	font-family: geneva, helvetica, arial, sans-serif;
	font-size: 10px;
	}

UL	{
	font-family: geneva, helvetica, arial, sans-serif;
	font-size: 10px;
	}
	
DT	{
	font-family: geneva, helvetica, arial, sans-serif;
	font-size: 12px;
	}
	
DD	{
	font-family: geneva, helvetica, arial, sans-serif;
	font-size: 12px;
	}


A:link { color: #000099; }

A:visited, A:active { color: #660099; }

.hide {
  display: none;
  color: white;
}

SPAN.date { font-size: 0.8em }

SPAN.attribution {
  font-weight: bold
}

BLOCKQUOTE {
	margin-left: 0pt; 
	margin-right: 0pt;
	margin-top: 5pt; 
	margin-bottom: 5pt;
}

ADDRESS { 
  text-align: right;
  font-weight: bold;
  font-style: italic 
}

CODE {
	font-family: "Courier New", monospace;
	font-size: 12px;
	color: #192642
}

PRE {
	font-family: "Courier New", monospace;
	font-size: 12px;
	color: #000000
}


/* The following section creates a set of partially overlapping
      headlines in different colors and font families. Negative
      margin values must be set on block-level elements to have an
      effect - in this document P elements are used and the selectors
      are named '#p*'. Since these headlines contain links, they will
      normally be colored accordingly. To override this, SPAN elements
      have been inserted within the A elements and the colors and
      margin-left: 35px;
      fonts are set on these. The respective selectors are  named '#s*'.
*/

#introtext
	{
	font-family: helvetica, geneva, arial, sans-serif;
	font-size: 14px;
	margin-left: 10px;
	line-height: 18px;
	}

#menutext2
	{
	font-family: helvetica, geneva, arial, sans-serif;
	font-size: 10px;
	margin-left: 30px;
	line-height: 14px;
	}

#menutext3
	{
	font-family: helvetica, geneva, arial, sans-serif;
	font-size: 10px;
	margin-left: 40px;
	line-height: 14px;
	}

#s1 { 
  font-family: geneva, helvetica, arial, sans-serif;
  font-size: 12px;
  margin-left: 18px;
}

#p1 {
  font-family: geneva, helvetica, arial, sans-serif;
  font-size: 12px;
}

#s2 {
  color: #000; 
  font: italic 40px Georgia, serif;
}

#p2 {
	color: #000000;
	font-family: geneva, helvetica, arial, sans-serif;
	font-size: 10px;
  	font-weight: bold;
}

#s3 {
  color: #080;
  font: 40px Verdana, sans-serif;
}

#p3 {
	color: #000000;
	font-family: geneva, helvetica, arial, sans-serif;
	font-size: 10px;
  	margin-top: 10px;
  	text-align: center;
}

#question {
	color: #000000;
	font-family: geneva, helvetica, arial, sans-serif;
	font-size: 10px;
  	font-weight: bold;
}

#s4 {
  color: #37F; 
  font: bold 40px Courier New, monospace;
}

#p4 {
	color: #000000;
	font-family: geneva, helvetica, arial, sans-serif;
	font-size: 10px;
}

#answer {
	color: #000000;
	font-family: geneva, helvetica, arial, sans-serif;
	font-size: 10px;
}

#s5 {
  color: #F73;
  font: bold 100px Verdana, sans-serif;
}

#p5 {
  margin-top: -80px;
  text-align: left;
}



#s6 {
  color: #22A;
  font: bold 25px Verdana, sans-serif;
}

#p6 {
  text-align: center;
  margin-top: -30px;
}


#s7 {
  color: #088;
  font: italic 20px Verdana, sans-serif;
}

#p7 {
  text-align: right;
  margin-top: -10px;
}


#s8 {
  color: #088;
  font: italic 20px Verdana, sans-serif;
}

#p8 {
  margin-top: -10px;
  margin-left: 3%;
}


#s9 {
  color: #000; 
  font: 20px Georgia, serif;
}

#p9 {
  margin-top: -10px;
  margin-left: 30%;
}

#s10 {
  color: #900; 
  font: bold 10pt Georgia, serif;
}

#p10 {
  text-align: right;
  margin-top: -10px;
}


#s11 {
  color: #990;
  font: italic 20px Georgia, serif;
}

#p11 {
  margin-top: 0px;
  margin-left: 20%;
}

</style>
