.mybox
{
	background-color: #F7F7F7;
	padding: 4px;
	border-color: #999999;
	border-width: 1px;
	border-style: solid;
	margin: 4px;
}

.mycodebox
{
	background-color: #F1F5F9;
	padding: 4px;
	border-color: #999999;
	border-width: 1px;
	border-style: solid;
	margin: 4px;
}