<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DisplayName</key>
	<string>FancyStickies</string>
	<key>ImagePath</key>
	<string>Stickies.icns</string>
	<key>Type</key>
	<string>app</string>
	<key>Entities</key>
	<dict>
		<key>com.mycompany.stickies.Note</key>
		<array>
			<string>com.apple.syncservices.RecordEntityName</string>
			<string>text</string>
			<string>color</string>
			<string>originX</string>
			<string>originY</string>
			<string>width</string>
			<string>height</string>
			<string>createDate</string>
			<string>floating</string>
			<string>translucent</string>
			<string>shaded</string>
		</array>
	</dict>
</dict>
</plist>
