<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.SimpleVideoOut</string>
	<key>CFBundleName</key>
	<string>SimpleVideoOut X CW</string>
	<key>CFBundleVersion</key>
	<string>2.0.5</string>
	<key>CFBundleGetInfoString</key>
	<string>2.0.5, Copyright © 2000-2005 by Apple Computer, Inc.</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.5</string>
	<key>CFBundleLongVersionString</key>
	<string>SimpleVideoOut X CW Version 2.0.5, Copyright © 2000-2005 by Apple Computer, Inc.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2000-2005 by Apple Computer, Inc.</string>
	<key>CFBundleIconFile</key>
	<string>SimpleVideoOut X.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>svos</string>
	<key>CFBundleExecutable</key>
	<string>SimpleVideoOut X CW</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<false/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>QuickTime Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
