<?xml version="1.0" encoding="UTF-8"?>

<!--

File:Basics.dist

Abstract: Installer Distribution Sample
Version: <1.0>

Disclaimer: IMPORTANT:  This Apple software is supplied to you by Apple
Computer, Inc. ("Apple") in consideration of your agreement to the
following terms, and your use, installation, modification or
redistribution of this Apple software constitutes acceptance of these
terms.  If you do not agree with these terms, please do not use,
install, modify or redistribute this Apple software.

In consideration of your agreement to abide by the following terms, and
subject to these terms, Apple grants you a personal, non-exclusive
license, under Apple's copyrights in this original Apple software (the
"Apple Software"), to use, reproduce, modify and redistribute the Apple
Software, with or without modifications, in source and/or binary forms;
provided that if you redistribute the Apple Software in its entirety and
without modifications, you must retain this notice and the following
text and disclaimers in all such redistributions of the Apple Software. 
Neither the name, trademarks, service marks or logos of Apple Computer,
Inc. may be used to endorse or promote products derived from the Apple
Software without specific prior written permission from Apple.  Except
as expressly stated in this notice, no other rights or licenses, express
or implied, are granted by Apple herein, including but not limited to
any patent rights that may be infringed by your derivative works or by
other works in which the Apple Software may be incorporated.

The Apple Software is provided by Apple on an "AS IS" basis.  APPLE
MAKES NO WARRANTIES, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION
THE IMPLIED WARRANTIES OF NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS
FOR A PARTICULAR PURPOSE, REGARDING THE APPLE SOFTWARE OR ITS USE AND
OPERATION ALONE OR IN COMBINATION WITH YOUR PRODUCTS.

IN NO EVENT SHALL APPLE BE LIABLE FOR ANY SPECIAL, INDIRECT, INCIDENTAL
OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) ARISING IN ANY WAY OUT OF THE USE, REPRODUCTION,
MODIFICATION AND/OR DISTRIBUTION OF THE APPLE SOFTWARE, HOWEVER CAUSED
AND WHETHER UNDER THEORY OF CONTRACT, TORT (INCLUDING NEGLIGENCE),
STRICT LIABILITY OR OTHERWISE, EVEN IF APPLE HAS BEEN ADVISED OF THE
POSSIBILITY OF SUCH DAMAGE.

Copyright © 2005 Apple Computer, Inc., All Rights Reserved

-->

<installer-script minSpecVersion="1.0">
<!-- 
	Purpose: To show the basic structure of a distribution script						
	Overview: Shows the very minimum needed to install a package using a distribution script.															
-->

<!-- 
	The "title element contains the title of the distribution, or a key for the title to be localized with
-->
    <title>My Great Software</title>

<!-- 
	The "choices-outline" element contains the order of the choices.  A line can contain other lines. A parent line will inherit the "selected" state of its children
-->
    <choices-outline>
<!-- 
    The only valid attribute for a line is the "choice".  The value for choice is the identifier for the choice represented by the given line. More then one line can represent the same choice, but be careful, this may effect how the choice interacts with other choices!    
-->
        <line choice="TextEditChoice"/>
    </choices-outline>

<!-- 
	Each choice element has a unique "id" attribute.   Any attribute that contains text displayed in the installer can either be the text or the key for localization. Each choice requires at least an id and title attribute.  The choice is what points to the package to be installed.  Any "pkg-ref" element within a given choice will be installed if a choice is selected. 										
-->
    <choice id="TextEditChoice" title="TextEdit" description="Installs TextEdit.app compiled from source.">

<!-- 
    The pkg-ref is a reference to the package to be installed when this choice is selected.  Note that the reference must have at least an id attribute. The pkg-ref is fully defined later on, but can just as easily be defined in full inside the choice. 
-->
    	<pkg-ref id="com.apple.pkg.example.textedit"/>
    </choice>

<!-- 
	This package ref, referred to by the "TextEditChoice" choice is defined in full below.  The attributes of the pkg-ref element is a cache of the data actually in the package.  These values include, id (the CFShortBundleIdentifier from the real package), installKBytes (the size of the package once installed), version (5 tuple from package 0.0.0.0.0), auth ("none","admin","root'), and onConclusion ("none","recommendedRestart","requireLogout","requireRestart", and "requireShutdown").					
-->
	
	<pkg-ref id="com.apple.pkg.example.textedit" version="10.4.0.10.4" installKBytes="976" auth="None" onConclusion="None">file:../Packages/TextEdit.pkg</pkg-ref>

</installer-script>