<?xml version="1.0" encoding="UTF-8"?>

<!--

File:VolumeCheck.dist

Abstract: Installer Distribution Sample
Version: <1.0>

Disclaimer: IMPORTANT:  This Apple software is supplied to you by Apple
Computer, Inc. ("Apple") in consideration of your agreement to the
following terms, and your use, installation, modification or
redistribution of this Apple software constitutes acceptance of these
terms.  If you do not agree with these terms, please do not use,
install, modify or redistribute this Apple software.

In consideration of your agreement to abide by the following terms, and
subject to these terms, Apple grants you a personal, non-exclusive
license, under Apple's copyrights in this original Apple software (the
"Apple Software"), to use, reproduce, modify and redistribute the Apple
Software, with or without modifications, in source and/or binary forms;
provided that if you redistribute the Apple Software in its entirety and
without modifications, you must retain this notice and the following
text and disclaimers in all such redistributions of the Apple Software. 
Neither the name, trademarks, service marks or logos of Apple Computer,
Inc. may be used to endorse or promote products derived from the Apple
Software without specific prior written permission from Apple.  Except
as expressly stated in this notice, no other rights or licenses, express
or implied, are granted by Apple herein, including but not limited to
any patent rights that may be infringed by your derivative works or by
other works in which the Apple Software may be incorporated.

The Apple Software is provided by Apple on an "AS IS" basis.  APPLE
MAKES NO WARRANTIES, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION
THE IMPLIED WARRANTIES OF NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS
FOR A PARTICULAR PURPOSE, REGARDING THE APPLE SOFTWARE OR ITS USE AND
OPERATION ALONE OR IN COMBINATION WITH YOUR PRODUCTS.

IN NO EVENT SHALL APPLE BE LIABLE FOR ANY SPECIAL, INDIRECT, INCIDENTAL
OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) ARISING IN ANY WAY OUT OF THE USE, REPRODUCTION,
MODIFICATION AND/OR DISTRIBUTION OF THE APPLE SOFTWARE, HOWEVER CAUSED
AND WHETHER UNDER THEORY OF CONTRACT, TORT (INCLUDING NEGLIGENCE),
STRICT LIABILITY OR OTHERWISE, EVEN IF APPLE HAS BEEN ADVISED OF THE
POSSIBILITY OF SUCH DAMAGE.

Copyright © 2005 Apple Computer, Inc., All Rights Reserved

-->

<installer-script minSpecVersion="1.0">
<!-- 
	Purpose: Shows how to use a volume-check script and some built in functions to restrict the installation of your software on a specific volume.				
	Overview: Introduces volume-check, my.result, my.target, ans system.log(). Shows how to check for specific system versions and restrict installs onto a volume without the required version of Mac OS X.												
-->

    <title>My Great Software</title>

<!-- 
	The installation-check and volume-check scripts allow the distribution script to restrict the software from being installed on certain hardware or on a certain volume.				
-->
	<volume-check script="MyVolumeCheck()"/>

	<script>
		
<!-- 
	All JavaScripts in a distribution script have access to the system object.  Both the installation-check and volume-check scripts have access to a special object my.result. "my.result" object has three attributes that can be set to specify how the user will be presented with a failure.  See below for examples of this.
 
 	This volume-check script checks to make sure the target system has 10.4.1 installed. A volume-check script is in charge of determining if the software should be allowed on a given volume.  These scripts have access to two more important built in objects (in addition to system) my.target and choices.  For now we will only cover my.target. The volume-check script will be called once for each volume on the system, each time with a different my.target object.  The runtime used for each of these calls is different, so it is not possible to pass information from one volume check script to another.
-->
		function MyVolumeCheck()
		{
<!-- 
	Each target which contains a version of Mac OS X, has a systemVersion object. A volume which does not contain a system will not have this object, so make sure you check the object before using it. The valid attributes for this object are ProductBuldVersion, ProductName, and ProductVersion.									
-->
			var sysVersion = my.target.systemVersion;
			
			//Log some information about each system to the installer log.
			if(sysVersion)
				system.log(my.target + " : " + sysVersion.ProductVersion);
			else
				system.log(my.target + " : No  System");
				
<!-- 
	If the volume has no operating system, or the version is less then 10.4.1 then	we do not allow.  Becuase the version number is a tuple, scripts should use system.compareVersion() to compare versions (it works much like strcmp).			
-->
			if(!sysVersion || (1 != system.compareVersions("10.4.1",sysVersion.ProductVersion))){
<!--
	If a volume should not be allowed for install, my.result.type must be 'Fatal' and my.result.message must be specified.  'Fatal' is the only valid type for volume checks. As always, your messages should be localized (see system.localized* functions)	
-->
				my.result.message = "This software requires Mac OS X 10.4.1 or later to run.";
				my.result.type = 'Fatal';
				
				<!--On failure, false must be returned.-->
				return false;
			}
			
			return true;
		}
	</script>

    <choices-outline>
        <line choice="TextEditChoice"/>
    </choices-outline>

    <choice id="TextEditChoice" title="TextEdit" description="Installs TextEdit.app compiled from source.">
    	<pkg-ref id="com.apple.pkg.example.textedit"/>
    </choice>

	<pkg-ref id="com.apple.pkg.example.textedit" version="10.4.0.10.4" installKBytes="976" auth="None" onConclusion="None">file:../Packages/TextEdit.pkg</pkg-ref>

</installer-script>