<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>MOKit</string>
	<key>CFBundleIdentifier</key>
	<string>com.lorax.MOKit.MOKit</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>2.6</string>
	<key>CFBundleSignature</key>
	<string>M0kt</string>
	<key>CFBundleVersion</key>
	<string>2.6</string>
</dict>
</plist>
