<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attributes</key>
	<array>
		<dict>
			<key>name</key>
			<string>text</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>name</key>
			<string>color</string>
			<key>type</key>
			<string>color</string>
		</dict>
		<dict>
			<key>name</key>
			<string>width</string>
			<key>type</key>
			<string>number</string>
		</dict>
		<dict>
			<key>name</key>
			<string>height</string>
			<key>type</key>
			<string>number</string>
		</dict>
		<dict>
			<key>name</key>
			<string>originX</string>
			<key>type</key>
			<string>number</string>
		</dict>
		<dict>
			<key>name</key>
			<string>originY</string>
			<key>type</key>
			<string>number</string>
		</dict>
		<dict>
			<key>name</key>
			<string>createDate</string>
			<key>type</key>
			<string>date</string>
		</dict>
		<dict>
			<key>name</key>
			<string>floating</string>
			<key>type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>name</key>
			<string>translucent</string>
			<key>type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>name</key>
			<string>shaded</string>
			<key>type</key>
			<string>boolean</string>
		</dict>
	</array>
	<key>className</key>
	<string>Note</string>
	<key>displayName</key>
	<string>Note</string>
	<key>entityName</key>
	<string>com.mycompany.stickies.Note</string>
	<key>identityKeys</key>
	<array>
		<dict>
			<key>name</key>
			<string>text</string>
		</dict>
	</array>
	<key>name</key>
	<string>Note</string>
</dict>
</plist>
