<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.webkitpluginstarter</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>WBPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSPrincipalClass</key>
	<string>PluginStarter</string>
	<key>WebPluginDescription</key>
	<string>This is a sample WebKit plug-in built using the minimal steps required for creating a WebKit plug-in.</string>
	<key>WebPluginMIMETypes</key>
	<dict>
		<key>application/x-simpleplugin</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>simp</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Simple Plug-in Data</string>
		</dict>
	</dict>
	<key>WebPluginName</key>
	<string>Starter plug-in</string>
</dict>
</plist>
