<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>WebKitCIPlugIn</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.webkitciplugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>WBPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSPrincipalClass</key>
	<string>CIView</string>
	<key>WebPluginDescription</key>
	<string>Simple Web Kit plug-in that displays Core Image effects</string>
	<key>WebPluginMIMETypes</key>
	<dict>
		<key>image/x-webkitci</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>jpg</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Core Image Demo</string>
		</dict>
	</dict>
	<key>WebPluginName</key>
	<string>Web Kit CI Plug-In</string>
</dict>
</plist>
