<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DisplayName</key>
	<string>SMFClient</string>
	<key>Type</key>
	<string>app</string>
        <key>Entities</key>
        <dict>
            <key>com.apple.contacts.Contact</key>
            <array>
                <string>com.apple.syncservices.RecordEntityName</string>
                <string>first name</string>
                <string>last name</string>
				<string>image</string>
            </array>
        </dict>  
        <key>PullOnlyEntities</key>
        <array>
		    <string>com.apple.contacts.Contact</string>
        </array>  
		<key>SyncsWith</key>
		<dict>			
			<key>SyncAlertTypes</key>
			<array>
				<string>app</string>
				<string>device</string>
				<string>server</string>
			</array>
	</dict>
         
	</dict>
</plist>
