<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>syncdb</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SyncServices Record Store</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SqliteDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>isyncdb</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Old SyncServices Record Store</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SqliteDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>syncdelta</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SyncServices Change Log</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>ChangeStoreDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>syncidmap</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SyncServices Record Id Map Table</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>RecordIdMapperDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>isynchistory</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SyncServices Call History Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CallHistoryDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Syncrospector</string>
	<key>CFBundleGetInfoString</key>
	<string>Syncrospector 0.5: WWDC Developer Release, © 2005 Apple Computer, Inc., All rights reserved.</string>
	<key>CFBundleIconFile</key>
	<string>Sync.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.syncrospector</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Syncrospector</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5: WWDC Developer Release</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>171</string>
	<key>NSMainNibFile</key>
	<string>Syncrospector</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
