<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>PBXProjectSourcePath</key>
	<string>/Network/Servers/riemann/homes/legolas/scottk/Desktop/QTSS sample code/QTSS WWDC 2002 Apps/correct builds/QTSSInspector/QTSSInspector.pbproj</string>
</dict>
</plist>
