<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.yourcocoabundle</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>WBPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSPrincipalClass</key>
	<string>Plugin</string>
	<key>WebPluginName</key>
	<string>QTCapture plug-in</string>
	<key>WebPluginDescription</key>
	<string>This is a simple WebKit plug-in that shows how to use QTCapture.</string>
	<key>WebPluginMIMETypes</key>
	<dict>
		<key>application/x-qtcaptureplugin</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>qtpi</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>QTCapture Plug-in Data</string>
		</dict>
	</dict>

</dict>
</plist>
