<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackwardsCompatibleClassLookup</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Syncer</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.widget.Syncer</string>
	<key>CFBundleName</key>
	<string>Syncer</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CloseBoxInsetX</key>
	<integer>13</integer>
	<key>CloseBoxInsetY</key>
	<integer>13</integer>
	<key>Height</key>
	<integer>204</integer>
	<key>MainHTML</key>
	<string>Syncer.html</string>
	<key>Width</key>
	<integer>236</integer>
</dict>
</plist>
