/* ----------Start of new styles beginning October 2004---------- */

/* sidebar */
#sidebar h2, .swlsidebar h2 {
	font-size: 12px;
	}
	
#sidebar h3, #sidebar h4, .swlsidebar h3, .swlsidebar h4 {
	font-size: 12px;
	}
	
#sidebar p, #sidebar ol, #sidebar ul, .swlsidebar p, .swlsidebar ol, .swlsidebar ul {
	font-size: 11px;
	}

#sidebar ul, .swlsidebar ul {
	margin-left: 16px;
	padding-left: 0;
	}

#sidebar li, .swlsidebar li {
	font-size: 11px;
	margin-top: 2px;
	}
	
#sidebar ul.nav, .swlsidebar ul.nav {
	margin: 8px 0 0;
	padding: 0;
	list-style-type: none;
	}

#sidebar ul.nav li, .swlsidebar ul.nav li {
	margin-top: 4px;
	padding-left: 0;
	background: none;
	}

/* "sidebartable" has been modified from the */
/* ADC version to accommodate various browsers. */
        
.sidebartable {
        width:158px;
	border: 1px solid #a1a5a9;
	margin-bottom: 10px;
	padding: 10px;
        margin-left: 20px;
	font-size: 11px;
	text-align: left;
	vertical-align: top;
	}
	
.sidebartable th {
	padding: 4px 8px 4px 10px;
	background: #DBDBDB;
	font-size: 12px;
	font-weight: bold;
	border-bottom: 1px solid #a1a5a9;
	}
	
.sidebartable td {
	padding: 0 10px 10px;
	font-size: 11px;
	text-align: left;
	vertical-align: top;
	}
	
.sidebartable h2, .sidebartable p, .sidebartable ul {
	margin: 10px 0 2px;
	padding: 0;
	}
	
.sidebartable table td {
	border: none;
	padding: 0;
	vertical-align: middle;
	}
        
/* tables */

.bumblebee {
	border-top: 1px solid #919699;
	border-left: 1px solid #919699;
	border-right: 1px solid #919699;
	}

.bumblebee td {
	padding: 9px;
	font-size: 10px;
	}
	
.bumblebee th {
	padding: 6px 10px;
	font-size: 10px;
	}
	
.bumblebee th a {
	color: #FFF;
	}
	
.bumblebee th a:link {
	color: #FFF;
	}

.bumblebee th a:visited {
	color: #FFF;
	}

.bumblebee th a:hover {
	color: #FFF;
	}
	
.bumblebee th a:active {
	color: #FFF;
	}

.bumblebee th {
	background: #7E91A4;
	color: #FFF;
	}

.bumblebee td {
	text-align: left;
	vertical-align: top;
        border-bottom: 1px solid #919699;
	}

.bumblebeeblue {
	background: #F0F5F9;
	}

.bumblebeewhite {
	background: #FFF;
	}
	
.bumblebee .bumblebeeblue td.sortcolumn {
	background: #DCE5EE;
	}
	
.bumblebee .bumblebeewhite td.sortcolumn {
	background: #F5F5F5;
	}
	
.bumblebee th.sortcolumn {
	background: #334455;
	}
	
.bumblebeetop {
	border-top: 1px solid #919699;
	border-left: 1px solid #919699;
	border-right: 1px solid #919699;
	background: #E2E2E2;
	}
	
.bumblebeetop td{
	padding-top: 10px;
	padding-bottom: 0px;
}

table.bumblebeetop select { width: 230px;}

.bumblebeetop td.display { border-left: 1px solid #a1a5a9;}

.bumblebeetop .pagenav td {padding: 5px 10px; font-size: 10px; border-top: 1px solid #a1a5a9;}
.bumblebee .pagenav td {padding: 5px 10px; font-size: 10px; background: #E2E2E2;}
.bumblebee .pagenav td.rightcolumn { text-align: right;}


/* New styles added specific to Tech Pubs beginning October 2004 */

        
.pagenavtop {
        border-top: 1px solid #919699;
        border-left: 1px solid #919699;
        border-right: 1px solid #919699;
        background: #E2E2E2;
        }
        
.pagenavtop td {
        padding-top:5px;
        padding-bottom:5px;
        padding-left:6px;
        padding-right:6px;
        }
        
.pagenavbottom {
        border-left: 1px solid #919699;
        border-right: 1px solid #919699;
        border-bottom: 1px solid #919699;
        background: #E2E2E2;
        }
        
 .pagenavbottom td {
        padding-top:5px;
        padding-bottom:5px;
        padding-left:6px;
        padding-right:6px;
        }       
                        
/* ----------END of new styles beginning October 2004---------- */



/* body description */
body {
        margin: 0 10px;
        background-color: #fff;
        color: #000;
        }

/* link classes */
A:link			{ COLOR: #0000FF; TEXT-DECORATION: none; }
A:link:hover	{ COLOR: #FF6600; TEXT-DECORATION: underline }
A:active		{ COLOR: #FF6600; TEXT-DECORATION: underline}

/* apple site does not explicitly define visited link properties, but we do here */ 
A:visited		{ COLOR: #0000AA; TEXT-DECORATION: none }
A:visited:hover	{ COLOR: #FF6600; TEXT-DECORATION: underline } 


/* link pseudo-classes */
A.resources:link			{ COLOR: #0000FF; TEXT-DECORATION: none }
A.resources:link:hover		{ COLOR: #ff6600; TEXT-DECORATION: underline }
A.resources:visited			{ COLOR: #0000FF; TEXT-DECORATION: none }
A.resources:visited:hover	{ COLOR: #ff6600; TEXT-DECORATION: underline }
A.resources:active			{ COLOR: #ff6600; TEXT-DECORATION: underline }


/* redefine table cell */
td, TD {
	font-size: 10px; font-family: lucida grande, geneva, helvetica, arial, sans-serif
}

/* redefine ordered list */
ol, OL {
	font-size: 10px; font-family: lucida grande, geneva, helvetica, arial, sans-serif
}

/* redefine unordered list */
ul, UL {
	font-size: 10px; font-family: lucida grande, geneva, helvetica, arial, sans-serif
}

/* redefine list item */
li, LI {
	font-size: 10px; font-family: lucida grande, geneva, helvetica, arial, sans-serif
}




/* Article heading for Home Page */
#articlehead {
	font-weight: bold; font-size: 12px; COLOR: #000000; font-family: lucida grande, geneva, helvetica, arial, sans-serif
}
#linklisthead {
	font-weight: bold; font-size: 12px; COLOR: #000000; font-family: lucida grande, geneva, helvetica, arial, sans-serif
}

#sectionhead {
	font-weight: bold; font-size: 16px; COLOR: #000000; font-family: lucida grande, geneva, helvetica, arial, sans-serif
}
#sectionsubhead {
	font-weight: bold; font-size: 12px; COLOR: #000000; font-family: lucida grande, geneva, helvetica, arial, sans-serif
}
#sectionheadorange {
	font-weight: bold; font-size: 14px; COLOR: #DB3700; font-family: lucida grand, geneva, helvetica, arial, sans-serif
}
#resources {
	margin-bottom: 2px; font-weight: normal; font-size: 10px; font-family: lucida grande, geneva, helvetica, arial, sans-serif
}
/* glossary page styles */
#glossary_header { 
	font-size: 12px; font-weight: bold; 
}
#glossary_header_letter { 
	font-size: 14px; font-weight: bold; 
}


/* form class, removes whitespace browsers use by default with forms */
#form {
	margin-bottom:0;margin-right:0;margin-left:0;margin-top:0;
}


/* paragraph describing page located just below the black text page title */
#paragraph_description {
	font-size: 12px;
}


/* rate this page feedback form styles */
#feedback_header {
	font-family: lucida grande, arial; font-size: 10px; color: #FFFFFF; text-align: center;
}
#feedback_text {
	font-family: lucida grande, arial; font-size: 10px; color: #000000;
}
#radio_help {
	text-align: center; padding-top: 4px;
}
#radio_easy {
	text-align: center; padding-bottom: 4px;
}


/* search results box styles */
#results_cell_first { 
	border-left: 1px #A2A6A9 solid; 
}
#results_cell_title {
	padding-top: 10px; padding-bottom: 10px; padding-right: 6px; font-size: 12px; font-weight: bold; vertical-align: top;
}
#results_cell_other {
	padding-top: 10px; padding-bottom: 10px; padding-left: 6px; padding-right: 6px; vertical-align: top;
}
#results_cell_date {
	padding-top: 10px; padding-bottom: 10px; padding-left: 4px; vertical-align: top;
}
#results_cell_last {
	border-right: 1px #A2A6A9 solid;
}
.results_description { 
	font-size: 10px; font-weight: normal;
}



/* apple script (or any other reference library page) styles */
.header { 
	font-size: 12px; font-weight: bold;
}
#link_header {
	font-size: 10px; font-weight: bold;
}
#blue_header {
	font-size: 12px; font-weight: bold; color: #000099;
}
#td_left_line {
	border: 1px #555555 left;
}


/* co marketing styles */
#icon_cell {
	height: 93px; text-align: center;
}
#detail_header {
	text-align: middle; background: #6D7F95; color: #FFFFFF; font-family: verdana;
	font-weight: bold; font-size: 10px;
}
#vendor_bullet {
	color: #696969;
}
#comarket_paragraph {
	color: #696969; font-size: 12px;
}
#vendor_detail {
	font-family: lucida grande, verdana; font-size: 12px;
}
#vendor_contact {
	font-family: verdana; font-size: 10px;
}
#detail_heading {
	font-weight: bold;
}
#detail_copy {
	font-family: lucida grande, arial; font-size: 12px;
}
#discount_box_header {
	color: #FFFFFF; font-weight: bold;
}
#discount_box_copy {
	font-family: lucida grande, arial; font-size: 12px;
}
#photo_table_copy {
	color: #7D7D7D; font-family: lucida grande, arial; font-size: 10px;
}


/*narrative styles */
#narrative_paragraph {
	color: #696969; font-size: 14px;
}
#narrative_header {
	font-family: lucida grande, arial; font-size: 13px; font-weight: bold;
}
#narrative_content {
	font-family: lucida grande, arial; font-size: 12px; vertical-align: top;
}
#pic_box_text {
	color: #878787; line-height: 11px; font-family: lucida grande, arial; font-size: 11px; 
}
#blue_copy {
	color: #466C9B; padding-left: 15px;
}
#green_copy {
	color: #3B636F; padding-left: 15px;
}
#purple_copy {
	color: #665588; padding-left: 15px;
}
#gray_copy {
	color: #787C7F; padding-left: 15px;
}
#pager {
	color: #76797C;
}


/* product line styles */
#product_line_list {
	font-size: 10px; 
}
#product_line_bullet {
	font-size: 10px; vertical-align: top; color: #0000FF;
}


/* membership overview styles */
#member_header {
	text-align: left; font-family: verdana; font-weight: bold; font-size: 10px; color: #FFFFFF; 	
}

#member_category {
	text-align: center; border-left: 1px #FFFFFF solid; font-family: verdana; font-weight: bold; font-size: 10px; color: #FFFFFF;
}

#white_row {
	background: #FFFFFF;
}
#blue_row {
	background: #F0F5F9;
}
#spacer_row {
	border-right: 1px solid #A2A6A9; border-left: 1px solid #A2A6A9;
}
#left_border {
	border-left: 1px solid #A2A6A9;
}
#right_border {
	border-right: 1px solid #A2A6A9; text-align: center; vertical-align: middle;
}
#gray_line {
	border-right: 1px solid #A2A6A9; border-left: 1px solid #A2A6A9; background: #A2A6A9;
}
#dot_cell {
	text-align: center; vertical-align: middle;
}
#fine_print {
	vertical-align: top; font-size: 11px; color: #5F5F5F; font-family: lucida grande , arial;
}
#pricing {
	font-size: 12px; font-family: lucida grande , arial;
}


/* technical note classes */
#important_note {
	background: #E2E2E2; border: 1px solid #CCCCCC;
}
#page_contents {
	font-size: 12px; line-height: 20px; color: #0000FF;
}

#tech_content {
	font-size: 12px;
}
#tech_header {
	font-size: 14px; font-weight: bold;
}
#tech_subhead {
	font-size: 12px; font-weight: bold;
}
#tech_list {
	font-size: 12px; padding-bottom: 9px;
}
#source_code_box {
	border: 1px solid #C7CFD5; background: #F1F5F9; 
}
#source_code {
	font-family: monaco; font-size: 10px; margin-bottom: 0px; padding: 12px;
}
#example_title {
	font-size: 10px; margin-bottom: 5px; color: #28333B;
}
#example_table_header {
	font-weight: bold; background: #C7CFD5; 
}
#example_table_cell {
	border: 1px #C7CFD5 solid; background: #F1F5F9; vertical-align: top; font-size: 12px;
}
#download_cell_1 {
	background: #F6F6F6; font-size: 11px; padding-top: 2px; padding-bottom: 2px; padding-left: 2px;
	border-left: 1px solid #E6E6E6; border-top: 1px solid #E6E6E6; border-bottom: 1px solid #E6E6E6;
}
#download_cell_2 {
	background: #F6F6F6; font-size: 10px; padding-top: 2px; padding-bottom: 2px; 
	border-top: 1px solid #E6E6E6; border-bottom: 1px solid #E6E6E6;
}
#download_cell_3 {
	background: #F6F6F6; font-size: 10px; padding-top: 2px; padding-bottom: 2px; padding-right: 2px;
	border-right: 1px solid #E6E6E6; border-top: 1px solid #E6E6E6; border-bottom: 1px solid #E6E6E6;
}
#download_content {
	font-size: 12px; vertical-align: middle;
}
#download_link {
	font-size: 10px; vertical-align: middle;
}
#back_to_top {
	font-size: 10px; 
}

/* sample code classes */
#right_content {
	text-align: right; font-size: 12px;
}
#sc_content {
	font-size: 12px;
}



/* header */
#adcnavheader td {
	font: 10px 'Lucida Grande', Geneva, Helvetica, Arial, sans-serif;
	}

#adcnavheader input {
	margin: 0 3px 0 0;
	padding: 0;
	}

#adcnavheader .textpadding {
	padding-top: 2px;
	vertical-align: middle;
	}
	
#adcnavheader .searchbutton {
	border: 0;
	}

/* added 03-01-2005 (added to HH 06-29-2005) */
#adcnavheader table.header { margin-top:13px; }
#adcnavheader td.logo { height:65px; padding:0 0 0 0; text-align: left;}
#adcnavheader td.search { height:35px; text-align:right; }
#adcnavheader td.adv-search { padding:0 4px 3px 0; }
#adcnavheader td.restrict { padding:3px 0 0 0; }
/* END added 03-01-2005 */

/* Added 2-2-2005 (added to HH, with id prefix, 06-29-2005) */
#adcnavheader .adclogo {
        margin-top:12px;
}
#adcnavheader .searchbox {
        width:180px;
}
/* END Added 2-2-2005 */

/*  Next two styles for h6 and form are needed to make the header look correct inside nav pages  */
#adcnavheader h6 {
    margin: 0;
    padding: 0;
    font: normal 12px 'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
    color: #000;
}

#adcnavheader form {
    margin: 0;
}


/* footer */
#footer td, #footer p {
	font-size: 10px;
	}
	
#footer {margin-top: 24px;
        }
        


/*   Elements used by TechPubs   */

#pagehead {
    margin: 0 0 5px 0;
    padding: 0;
    font: bold 30px 'Myriad Apple', 'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
    color: #000;
    }

#pageheadsmall {
    font: bold 16px 'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
    color: #000;
    }

#revision_cell_title {
    font-size: 12px;
    font-weight: bold;
    vertical-align: top;
}

div.legacylanding {
	background-color: #FFFACD;
	border-width: 1px;
	border-color: #695D54;
	border-style: solid;
	margin-bottom: 4px;
	}

#legacypagehead {
    margin: 0 0 10px 0;
    padding: 0;
    font: bold 36px 'Myriad Apple', 'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
    color: #000;
    }

#legacypageheadsmall {
    font: bold 16px 'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
    color: #000;
    padding-top: 8px;
    }

#legacyparagraph_description {
	font-size: 12px;
}


/* Original Apple CSS items (unused at this time) */
/* ---------------------------------------------- */

H1 {
	font-weight: bold; font-size: 18px; font-family: lucida grande, geneva, helvetica, arial, sans-serif
}

#text {
	font-size: 10px; font-family: lucida grande, geneva, helvetica, arial, sans-serif; line-height: 16px;
}


PRE {
	font-size: 10px; font-family: monospace
}
CODE {
	font-size: 10px; font-family: monospace
}

#bodytext {
	font-size: 10px; font-family: lucida grande, geneva, helvetica, arial, sans-serif
}
#bodytextlarge {
	font-size: 12px; font-family: lucida grande, geneva, helvetica, arial, sans-serif
}
#bodytitle {
	font-weight: bold; font-size: 10px; font-family: lucida grande, geneva, helvetica, arial, sans-serif
}
#bodytitlelarge2 {
	font-weight: bold; font-size: 12px; font-family: lucida grande, geneva, helvetica, arial, sans-serif
}
#bodytitlelarge {
	font-weight: bold; font-size: 12px; font-family: arial, helvetica, sans-serif
}
#bodytitleextralarge {
	font-weight: bold; font-size: 14px; font-family: arial, helvetica, sans-serif
}
#callout {
	font-weight: bold; font-size: 14px; COLOR: #737373; font-family: lucida grande, geneva, helvetica, arial, sans-serif
}
#calloutsubitem {
	font-size: 10px; COLOR: #666666; font-family: lucida grande, geneva, helvetica, arial, sans-serif
}
#resourcetitle {
	font-weight: bold; font-size: 10px; font-family: lucida grande, geneva, helvetica, arial, sans-serif
}
#resourcetext {
	font-size: 10px; font-family: helvetica, geneva, arial, sans-serif
}
#resourcehead {
	font-weight: bold; font-size: 11px; COLOR: #808080; font-family: arial, helvetica, sans-serif
}
#mkt {
	font-size: 12px; font-family: arial, helvetica, sans-serif
}
#mkt2 {
	font-size: 14px; font-family: arial, helvetica, sans-serif
}
.breadcrumb {
	font-weight: bold; font-size: 12px; font-family: arial, helvetica, sans-serif
}
#breadcrumblocation {
	font-weight: bold; font-size: 12px; COLOR: #CC6600; font-family: arial, helvetica, sans-serif
}
#menutitle {
	font-weight: bold; font-size: 12px; margin-left: 10px; font-family: arial, helvetica, sans-serif
}
#menutext {
	font-size: 10px; margin-left: 10px; LINE-HEIGHT: 14px; font-family: helvetica, geneva, arial, sans-serif
}
#source {
	font-size: 9px; COLOR: #666666; FONT-STYLE: italic; font-family: helvetica, geneva, arial, sans-serif
}
