<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>File Version</key>
	<string>1</string>
	<key>wchar_t *</key>
	<dict>
		<key>SummaryString</key>
		<string>{(char *)myWCharPointerDataFormatter((wchar_t *) $VAR, (int) $ID)}:s</string>
	</dict>
	<key>wchar_t</key>
	<dict>
		<key>SummaryString</key>
		<string>{(char *)myWCharDataFormatter((wchar_t) $VAR, (int) $ID)}:s</string>
	</dict>
    	<key>wchar_t [255]</key>
	<dict>
		<key>SummaryString</key>
		<string>{(char *)myWCharPointerDataFormatter((wchar_t *) $VAR, (int) $ID)}:s</string>
	</dict>

</dict>
</plist>
