<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TramontaneVersion</key>
	<string>588.0</string>
	<key>UUID</key>
	<string>297F494A-3A62-4C7E-87FF-8E76636F3E1F</string>
	<key>properties</key>
	<dict>
		<key>BTOptionsDict</key>
		<dict>
			<key>OBEXTimeout</key>
			<string>120</string>
			<key>TransportType</key>
			<integer>0</integer>
			<key>synchroScriptConnect</key>
			<false/>
			<key>synchroScriptDisconnect</key>
			<false/>
		</dict>
		<key>UISettingsOptionsDict</key>
		<dict>
			<key>DontSyncEventsAfterDateIsEnabled</key>
			<dict>
				<key>default</key>
				<integer>1</integer>
				<key>visible</key>
				<true/>
			</dict>
			<key>DontSyncEventsAfterDateValue</key>
			<dict>
				<key>default</key>
				<string>1month</string>
				<key>visible</key>
				<true/>
			</dict>
			<key>DontSyncEventsPriorToDateIsEnabled</key>
			<dict>
				<key>default</key>
				<integer>1</integer>
				<key>visible</key>
				<true/>
			</dict>
			<key>DontSyncEventsPriorToDateValue</key>
			<dict>
				<key>default</key>
				<string>1week</string>
				<key>visible</key>
				<true/>
			</dict>
			<key>OnlySyncContactsWithPhoneNumber</key>
			<dict>
				<key>default</key>
				<integer>1</integer>
				<key>visible</key>
				<true/>
			</dict>
			<key>SyncAllDayEventsKey</key>
			<dict>
				<key>default</key>
				<integer>0</integer>
				<key>visible</key>
				<true/>
			</dict>
		</dict>
		<key>USBOptionsDict</key>
		<dict>
			<key>OBEXTimeout</key>
			<string>120</string>
			<key>identificationCDCChannel</key>
			<integer>0</integer>
			<key>identificationScriptConnect</key>
			<false/>
			<key>identificationScriptDisconnect</key>
			<false/>
			<key>synchroCDCChannel</key>
			<integer>1</integer>
			<key>synchroOBEXChannel</key>
			<integer>0</integer>
			<key>synchroScriptConnect</key>
			<false/>
			<key>synchroScriptDisconnect</key>
			<false/>
			<key>useOBEX</key>
			<true/>
			<key>useOtherCDC</key>
			<false/>
			<key>useSameCDC</key>
			<false/>
		</dict>
		<key>advancedOptionsSettings</key>
		<dict>
			<key>com_apple_pimsync_contacts</key>
			<dict>
				<key>DataClassName</key>
				<string>Contacts</string>
				<key>MaxAddAndReplaceCmd</key>
				<integer>0</integer>
				<key>MaxDeleteCmd</key>
				<integer>0</integer>
				<key>MaxSyncCmd</key>
				<integer>0</integer>
				<key>needsDeleteAddOnModify</key>
				<integer>0</integer>
			</dict>
			<key>com_apple_pimsync_events</key>
			<dict>
				<key>DataClassName</key>
				<string>Calendars</string>
				<key>MaxAddAndReplaceCmd</key>
				<integer>0</integer>
				<key>MaxDeleteCmd</key>
				<integer>0</integer>
				<key>MaxSyncCmd</key>
				<integer>0</integer>
				<key>allDayInLocalDateTime</key>
				<integer>0</integer>
				<key>allowedAlarmRelativeValues</key>
				<string></string>
				<key>countValueWhenMissing</key>
				<integer>0</integer>
				<key>defaultUntilDateWhenMissing</key>
				<string>2020-01-01 00:00:00 +0000</string>
				<key>doNotSyncAlarmForADE</key>
				<false/>
				<key>doNotSyncAlarmIfAfterStartDateTime</key>
				<integer>1</integer>
				<key>dontSyncEventBeforeDate</key>
				<string>2000-01-01 23:59:59 +0000</string>
				<key>exDatesAreDateOnly</key>
				<integer>1</integer>
				<key>handleMultiDayRecurrent</key>
				<true/>
				<key>hasAllDayMultiDay</key>
				<true/>
				<key>maxMinutesNbDeltaForAlarm</key>
				<real>10080</real>
				<key>needsDeleteAddOnModify</key>
				<false/>
				<key>noNewLines</key>
				<false/>
				<key>onlyAsciiCharacters</key>
				<false/>
				<key>syncAlarmOnlyIfSameDayAsADEStartDate</key>
				<false/>
				<key>untilDateIsDateOnly</key>
				<integer>1</integer>
			</dict>
			<key>com_apple_pimsync_parser_vCal</key>
			<dict>
				<key>AllDayCategories</key>
				<string>REMINDER</string>
				<key>EscapeBackslash</key>
				<integer>0</integer>
				<key>EscapeSemicolonInNotComponedValues</key>
				<integer>0</integer>
				<key>ExDatesInLocal</key>
				<integer>0</integer>
				<key>IgnoreProperties</key>
				<string>X-IRMC-LUID</string>
				<key>PropertyNameMapping</key>
				<array/>
				<key>SetExDateTimeWithEndTime</key>
				<integer>0</integer>
				<key>SetExDateTimeWithStartTime</key>
				<integer>0</integer>
				<key>SetUntilTimeWithEndTime</key>
				<integer>0</integer>
				<key>SetUntilTimeWithStartTime</key>
				<integer>1</integer>
				<key>TimedCategories</key>
				<string>MEETING</string>
				<key>UntilDateInLocal</key>
				<integer>0</integer>
			</dict>
			<key>com_apple_pimsync_parser_vCard</key>
			<dict>
				<key>AddCRLFAfterBase64Folding</key>
				<integer>1</integer>
				<key>IgnoreSubTypesForThisMainTypes</key>
				<string>CELL</string>
				<key>PropertyNameMapping</key>
				<array/>
			</dict>
			<key>com_apple_pimsync_tasks</key>
			<dict>
				<key>DataClassName</key>
				<string>Tasks</string>
				<key>MaxAddAndReplaceCmd</key>
				<integer>0</integer>
				<key>MaxDeleteCmd</key>
				<integer>0</integer>
				<key>MaxSyncCmd</key>
				<integer>0</integer>
				<key>completionDateIsDateOnly</key>
				<integer>1</integer>
				<key>defaultDueDateWhenMissing</key>
				<string>2020-01-01 00:00:00 +0000</string>
				<key>doNotSyncAlarmForTask</key>
				<false/>
				<key>doNotSyncAlarmIfCompleted</key>
				<integer>1</integer>
				<key>dueDateIsDateOnly</key>
				<integer>1</integer>
				<key>needsDeleteAddOnModify</key>
				<false/>
				<key>setDueDateToCompletionDateIfCompleted</key>
				<false/>
			</dict>
			<key>com_apple_synchro</key>
			<dict>
				<key>SyncMLCodec</key>
				<integer>0</integer>
				<key>SyncMLDoNotTryToDetectPhoneDBReset</key>
				<false/>
				<key>SyncMLLocalSource</key>
				<string>iSync</string>
				<key>SyncMLMaxMsgSize</key>
				<integer>4000</integer>
				<key>SyncMLMaxObjSize</key>
				<integer>0</integer>
				<key>SyncMLMsgTemporization</key>
				<integer>0</integer>
				<key>SyncMLSendDevInfIntoPutIfNoGetReceived</key>
				<false/>
				<key>SyncMLUseBinaryWBXMLPublicID</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>calendarsOptionsDict</key>
		<dict>
			<key>Charset</key>
			<string>UTF-8</string>
			<key>FoldingStyle</key>
			<string>FoldingNG</string>
			<key>RemoteName</key>
			<string>Events</string>
			<key>allDayFormat</key>
			<integer>1</integer>
			<key>eventRecurrenceEndType</key>
			<integer>0</integer>
			<key>hasAudioAlarm</key>
			<true/>
			<key>hasDisplayAlarm</key>
			<false/>
			<key>hasEvent</key>
			<true/>
			<key>hasTimeZone</key>
			<integer>1</integer>
			<key>hasVCalRecurrence</key>
			<true/>
		</dict>
		<key>contactsOptionsDict</key>
		<dict>
			<key>RemoteName</key>
			<string>Contacts</string>
			<key>firstAndLastNameInSameField</key>
			<false/>
			<key>needsCompanyNameInFirstName</key>
			<false/>
			<key>needsFullAddressInStreetField</key>
			<false/>
		</dict>
		<key>documentVersion</key>
		<integer>802</integer>
		<key>familyOptionsDict</key>
		<dict>
			<key>BTAvailable</key>
			<true/>
			<key>BluetoothAvailable</key>
			<true/>
			<key>CGMI</key>
			<string>Manufacturer</string>
			<key>CGMM</key>
			<string>Manufacturer Model</string>
			<key>GMI</key>
			<string>Manufacturer</string>
			<key>GMM</key>
			<string>Manufacturer Model</string>
			<key>ModelID</key>
			<string>com.manufacturer.model</string>
			<key>Name</key>
			<string>Model</string>
			<key>PluginProviderName</key>
			<string>Apple Computer</string>
			<key>ProductID</key>
			<string>0x0555</string>
			<key>USBAvailable</key>
			<true/>
			<key>VendorID</key>
			<string>0x0444</string>
			<key>connection</key>
			<integer>2</integer>
			<key>constructorName</key>
			<string>Manufacturer</string>
			<key>domainName</key>
			<string>com.apple</string>
			<key>fixedDatabasesNames</key>
			<integer>0</integer>
			<key>pluginVersion</key>
			<string>1.0</string>
			<key>supportURL</key>
			<string>http://www.apple.com/support/isync</string>
			<key>useCGMICGMM</key>
			<false/>
		</dict>
		<key>javaScriptDict</key>
		<dict>
			<key>btObexConnection</key>
			<dict>
				<key>Value</key>
				<string>function prepareChannelForProtocol()
{
    // You can customize this function but do NOT change the signature
}</string>
			</dict>
			<key>btObexDisconnection</key>
			<dict>
				<key>Value</key>
				<string>function unprepareChannelForProtocol()
{
    // You can customize this function but do NOT change the signature
}</string>
			</dict>
			<key>usbCdcConnection</key>
			<dict>
				<key>Value</key>
				<string>function prepareChannelForProtocol()
{
    // You can customize this function but do NOT change the signature
}</string>
			</dict>
			<key>usbCdcDisconnection</key>
			<dict>
				<key>Value</key>
				<string>function unprepareChannelForProtocol()
{
    // You can customize this function but do NOT change the signature
}</string>
			</dict>
			<key>usbObexConnection</key>
			<dict>
				<key>Value</key>
				<string>function prepareChannelForProtocol()
{
    // You can customize this function but do NOT change the signature
}</string>
			</dict>
			<key>usbObexDisconnection</key>
			<dict>
				<key>Value</key>
				<string>function unprepareChannelForProtocol()
{
    // You can customize this function but do NOT change the signature
}</string>
			</dict>
		</dict>
		<key>notes</key>
		<data>
		e1xydGYxXG1hY1xhbnNpY3BnMTAwMDBcY29jb2FydGY4NjRcY29jb2FzdWJy
		dGYxMDAKe1xmb250dGJsXGYwXGZtb2Rlcm5cZmNoYXJzZXQ3NyBDb3VyaWVy
		O30Ke1xjb2xvcnRibDtccmVkMjU1XGdyZWVuMjU1XGJsdWUyNTU7XHJlZDI0
		OVxncmVlbjI0OVxibHVlMjQ5O30KXGRlZnRhYjcyMApccGFyZFxwYXJkZWZ0
		YWI3MjBcc2wyMjBccWxccW5hdHVyYWwKClxmMFxmczIwIFxjZjAgXGNiMiBG
		aWxlOmlTeW5jIHNhbXBsZSBkb2N1bWVudC5wcGRvY1wKQWJzdHJhY3Q6IEV4
		YW1wbGUgb2YgYW4gaVN5bmMgUGx1Zy1pbiBNYWtlciBkb2N1bWVudFwKVmVy
		c2lvbjogMS4wXApEaXNjbGFpbWVyOiBJTVBPUlRBTlQ6ICBUaGlzIEFwcGxl
		IHNvZnR3YXJlIGlzIHN1cHBsaWVkIHRvIHlvdSBieSBBcHBsZVwKQ29tcHV0
		ZXIsIEluYy4gKCJBcHBsZSIpIGluIGNvbnNpZGVyYXRpb24gb2YgeW91ciBh
		Z3JlZW1lbnQgdG8gdGhlXApmb2xsb3dpbmcgdGVybXMsIGFuZCB5b3VyIHVz
		ZSwgaW5zdGFsbGF0aW9uLCBtb2RpZmljYXRpb24gb3JcCnJlZGlzdHJpYnV0
		aW9uIG9mIHRoaXMgQXBwbGUgc29mdHdhcmUgY29uc3RpdHV0ZXMgYWNjZXB0
		YW5jZSBvZiB0aGVzZVwKdGVybXMuICBJZiB5b3UgZG8gbm90IGFncmVlIHdp
		dGggdGhlc2UgdGVybXMsIHBsZWFzZSBkbyBub3QgdXNlLFwKaW5zdGFsbCwg
		bW9kaWZ5IG9yIHJlZGlzdHJpYnV0ZSB0aGlzIEFwcGxlIHNvZnR3YXJlLlwK
		SW4gY29uc2lkZXJhdGlvbiBvZiB5b3VyIGFncmVlbWVudCB0byBhYmlkZSBi
		eSB0aGUgZm9sbG93aW5nIHRlcm1zLCBhbmRcCnN1YmplY3QgdG8gdGhlc2Ug
		dGVybXMsIEFwcGxlIGdyYW50cyB5b3UgYSBwZXJzb25hbCwgbm9uLWV4Y2x1
		c2l2ZVwKbGljZW5zZSwgdW5kZXIgQXBwbGUncyBjb3B5cmlnaHRzIGluIHRo
		aXMgb3JpZ2luYWwgQXBwbGUgc29mdHdhcmUgKHRoZVwKIkFwcGxlIFNvZnR3
		YXJlIiksIHRvIHVzZSwgcmVwcm9kdWNlLCBtb2RpZnkgYW5kIHJlZGlzdHJp
		YnV0ZSB0aGUgQXBwbGVcClNvZnR3YXJlLCB3aXRoIG9yIHdpdGhvdXQgbW9k
		aWZpY2F0aW9ucywgaW4gc291cmNlIGFuZC9vciBiaW5hcnkgZm9ybXM7XApw
		cm92aWRlZCB0aGF0IGlmIHlvdSByZWRpc3RyaWJ1dGUgdGhlIEFwcGxlIFNv
		ZnR3YXJlIGluIGl0cyBlbnRpcmV0eSBhbmRcCndpdGhvdXQgbW9kaWZpY2F0
		aW9ucywgeW91IG11c3QgcmV0YWluIHRoaXMgbm90aWNlIGFuZCB0aGUgZm9s
		bG93aW5nXAp0ZXh0IGFuZCBkaXNjbGFpbWVycyBpbiBhbGwgc3VjaCByZWRp
		c3RyaWJ1dGlvbnMgb2YgdGhlIEFwcGxlIFNvZnR3YXJlLiBcCk5laXRoZXIg
		dGhlIG5hbWUsIHRyYWRlbWFya3MsIHNlcnZpY2UgbWFya3Mgb3IgbG9nb3Mg
		b2YgQXBwbGUgQ29tcHV0ZXIsXApJbmMuIG1heSBiZSB1c2VkIHRvIGVuZG9y
		c2Ugb3IgcHJvbW90ZSBwcm9kdWN0cyBkZXJpdmVkIGZyb20gdGhlIEFwcGxl
		XApTb2Z0d2FyZSB3aXRob3V0IHNwZWNpZmljIHByaW9yIHdyaXR0ZW4gcGVy
		bWlzc2lvbiBmcm9tIEFwcGxlLiAgRXhjZXB0XAphcyBleHByZXNzbHkgc3Rh
		dGVkIGluIHRoaXMgbm90aWNlLCBubyBvdGhlciByaWdodHMgb3IgbGljZW5z
		ZXMsIGV4cHJlc3NcCm9yIGltcGxpZWQsIGFyZSBncmFudGVkIGJ5IEFwcGxl
		IGhlcmVpbiwgaW5jbHVkaW5nIGJ1dCBub3QgbGltaXRlZCB0b1wKYW55IHBh
		dGVudCByaWdodHMgdGhhdCBtYXkgYmUgaW5mcmluZ2VkIGJ5IHlvdXIgZGVy
		aXZhdGl2ZSB3b3JrcyBvciBieVwKb3RoZXIgd29ya3MgaW4gd2hpY2ggdGhl
		IEFwcGxlIFNvZnR3YXJlIG1heSBiZSBpbmNvcnBvcmF0ZWQuXApUaGUgQXBw
		bGUgU29mdHdhcmUgaXMgcHJvdmlkZWQgYnkgQXBwbGUgb24gYW4gIkFTIElT
		IiBiYXNpcy4gIEFQUExFXApNQUtFUyBOTyBXQVJSQU5USUVTLCBFWFBSRVNT
		IE9SIElNUExJRUQsIElOQ0xVRElORyBXSVRIT1VUIExJTUlUQVRJT05cClRI
		RSBJTVBMSUVEIFdBUlJBTlRJRVMgT0YgTk9OLUlORlJJTkdFTUVOVCwgTUVS
		Q0hBTlRBQklMSVRZIEFORCBGSVRORVNTXApGT1IgQSBQQVJUSUNVTEFSIFBV
		UlBPU0UsIFJFR0FSRElORyBUSEUgQVBQTEUgU09GVFdBUkUgT1IgSVRTIFVT
		RSBBTkRcCk9QRVJBVElPTiBBTE9ORSBPUiBJTiBDT01CSU5BVElPTiBXSVRI
		IFlPVVIgUFJPRFVDVFMuXApJTiBOTyBFVkVOVCBTSEFMTCBBUFBMRSBCRSBM
		SUFCTEUgRk9SIEFOWSBTUEVDSUFMLCBJTkRJUkVDVCwgSU5DSURFTlRBTFwK
		T1IgQ09OU0VRVUVOVElBTCBEQU1BR0VTIChJTkNMVURJTkcsIEJVVCBOT1Qg
		TElNSVRFRCBUTywgUFJPQ1VSRU1FTlQgT0ZcClNVQlNUSVRVVEUgR09PRFMg
		T1IgU0VSVklDRVM7IExPU1MgT0YgVVNFLCBEQVRBLCBPUiBQUk9GSVRTOyBP
		UiBCVVNJTkVTU1wKSU5URVJSVVBUSU9OKSBBUklTSU5HIElOIEFOWSBXQVkg
		T1VUIE9GIFRIRSBVU0UsIFJFUFJPRFVDVElPTixcCk1PRElGSUNBVElPTiBB
		TkQvT1IgRElTVFJJQlVUSU9OIE9GIFRIRSBBUFBMRSBTT0ZUV0FSRSwgSE9X
		RVZFUiBDQVVTRURcCkFORCBXSEVUSEVSIFVOREVSIFRIRU9SWSBPRiBDT05U
		UkFDVCwgVE9SVCAoSU5DTFVESU5HIE5FR0xJR0VOQ0UpLFwKU1RSSUNUIExJ
		QUJJTElUWSBPUiBPVEhFUldJU0UsIEVWRU4gSUYgQVBQTEUgSEFTIEJFRU4g
		QURWSVNFRCBPRiBUSEVcClBPU1NJQklMSVRZIE9GIFNVQ0ggREFNQUdFLlwK
		Q29weXJpZ2h0IFwnYTkgMjAwNiBBcHBsZSBDb21wdXRlciwgSW5jLiwgQWxs
		IFJpZ2h0cyBSZXNlcnZlZH0=
		</data>
		<key>syncFieldsSettings</key>
		<dict>
			<key>com_apple_calendars_Event</key>
			<dict>
				<key>classification</key>
				<dict>
					<key>Activated</key>
					<false/>
					<key>mappings</key>
					<array>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>PUBLIC</string>
							<key>originalValue</key>
							<string>public</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>PRIVATE</string>
							<key>originalValue</key>
							<string>private</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>PRIVATE</string>
							<key>originalValue</key>
							<string>confidential</string>
						</dict>
					</array>
				</dict>
				<key>description</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>maxLength</key>
					<real>255</real>
				</dict>
				<key>end date</key>
				<dict>
					<key>Activated</key>
					<true/>
				</dict>
				<key>location</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>maxLength</key>
					<real>255</real>
				</dict>
				<key>start date</key>
				<dict>
					<key>Activated</key>
					<true/>
				</dict>
				<key>summary</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>DontNeedCheckBox</key>
					<true/>
					<key>maxLength</key>
					<real>255</real>
					<key>useDefaultValueOnEmptyFields</key>
					<false/>
				</dict>
			</dict>
			<key>com_apple_calendars_Task</key>
			<dict>
				<key>classification</key>
				<dict>
					<key>Activated</key>
					<false/>
					<key>mappings</key>
					<array>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>PUBLIC</string>
							<key>originalValue</key>
							<string>public</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>PRIVATE</string>
							<key>originalValue</key>
							<string>private</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>PRIVATE</string>
							<key>originalValue</key>
							<string>confidential</string>
						</dict>
					</array>
				</dict>
				<key>completion date</key>
				<dict>
					<key>Activated</key>
					<true/>
				</dict>
				<key>description</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>maxLength</key>
					<real>255</real>
				</dict>
				<key>due date</key>
				<dict>
					<key>Activated</key>
					<true/>
				</dict>
				<key>priority</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>mappings</key>
					<array>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>1</string>
							<key>originalValue</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>1</string>
							<key>originalValue</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>1</string>
							<key>originalValue</key>
							<integer>3</integer>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>2</string>
							<key>originalValue</key>
							<integer>5</integer>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>2</string>
							<key>originalValue</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>2</string>
							<key>originalValue</key>
							<integer>4</integer>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>2</string>
							<key>originalValue</key>
							<integer>6</integer>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>3</string>
							<key>originalValue</key>
							<integer>9</integer>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>3</string>
							<key>originalValue</key>
							<integer>7</integer>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>3</string>
							<key>originalValue</key>
							<integer>8</integer>
						</dict>
					</array>
				</dict>
				<key>status</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>mappings</key>
					<array>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>DECLINED</string>
							<key>originalValue</key>
							<string>cancelled</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>NEEDS ACTION</string>
							<key>originalValue</key>
							<string>needsaction</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>COMPLETED</string>
							<key>originalValue</key>
							<string>completed</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>ACCEPTED</string>
							<key>originalValue</key>
							<string>inprocess</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string></string>
							<key>originalValue</key>
							<string>none</string>
						</dict>
					</array>
				</dict>
				<key>summary</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>DontNeedCheckBox</key>
					<true/>
					<key>maxLength</key>
					<real>255</real>
					<key>useDefaultValueOnEmptyFields</key>
					<false/>
				</dict>
			</dict>
			<key>com_apple_contacts_Contact</key>
			<dict>
				<key>birthday</key>
				<dict>
					<key>Activated</key>
					<true/>
				</dict>
				<key>company name</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>DontNeedCheckBox</key>
					<true/>
					<key>charsFiltering</key>
					<integer>0</integer>
					<key>maxLength</key>
					<real>255</real>
				</dict>
				<key>department</key>
				<dict>
					<key>Activated</key>
					<false/>
					<key>charsFiltering</key>
					<integer>0</integer>
					<key>maxLength</key>
					<real>255</real>
				</dict>
				<key>first name</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>DontNeedCheckBox</key>
					<true/>
					<key>maxLength</key>
					<real>255</real>
				</dict>
				<key>image</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>imageMaxHeight</key>
					<real>40</real>
					<key>imageMaxWidth</key>
					<real>44</real>
					<key>imageThresholdSize</key>
					<real>10000</real>
				</dict>
				<key>job title</key>
				<dict>
					<key>Activated</key>
					<false/>
					<key>maxLength</key>
					<real>255</real>
				</dict>
				<key>last name</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>DontNeedCheckBox</key>
					<true/>
					<key>maxLength</key>
					<real>255</real>
				</dict>
				<key>middle name</key>
				<dict>
					<key>Activated</key>
					<false/>
					<key>maxLength</key>
					<real>255</real>
				</dict>
				<key>nickname</key>
				<dict>
					<key>Activated</key>
					<false/>
					<key>maxLength</key>
					<real>255</real>
				</dict>
				<key>notes</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>maxLength</key>
					<real>255</real>
				</dict>
				<key>suffix</key>
				<dict>
					<key>Activated</key>
					<false/>
					<key>maxLength</key>
					<real>255</real>
				</dict>
				<key>title</key>
				<dict>
					<key>Activated</key>
					<false/>
					<key>maxLength</key>
					<real>255</real>
				</dict>
			</dict>
			<key>com_apple_contacts_Date</key>
			<dict>
				<key>IPSGlobalEntity</key>
				<dict>
					<key>Activated</key>
					<false/>
				</dict>
				<key>type</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>mappings</key>
					<array>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>X-ANNIVERSARY</string>
							<key>originalValue</key>
							<string>anniversary</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>X-DATE</string>
							<key>originalValue</key>
							<string>other</string>
						</dict>
					</array>
				</dict>
				<key>value</key>
				<dict>
					<key>Activated</key>
					<true/>
				</dict>
			</dict>
			<key>com_apple_contacts_Email Address</key>
			<dict>
				<key>IPSGlobalEntity</key>
				<dict>
					<key>Activated</key>
					<true/>
				</dict>
				<key>type</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>mappings</key>
					<array>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>WORK</string>
							<key>originalValue</key>
							<string>work</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>HOME</string>
							<key>originalValue</key>
							<string>home</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string></string>
							<key>originalValue</key>
							<string>other</string>
						</dict>
					</array>
				</dict>
				<key>value</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>DontNeedCheckBox</key>
					<true/>
					<key>maxLength</key>
					<real>255</real>
				</dict>
			</dict>
			<key>com_apple_contacts_Phone Number</key>
			<dict>
				<key>IPSGlobalEntity</key>
				<dict>
					<key>Activated</key>
					<true/>
				</dict>
				<key>type</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>mappings</key>
					<array>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>WORK</string>
							<key>originalValue</key>
							<string>work</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>HOME</string>
							<key>originalValue</key>
							<string>home</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>CELL</string>
							<key>originalValue</key>
							<string>mobile</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>FAX</string>
							<key>originalValue</key>
							<string>work fax</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>FAX</string>
							<key>originalValue</key>
							<string>home fax</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>originalValue</key>
							<string>other</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>originalValue</key>
							<string>main</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>PAGER</string>
							<key>originalValue</key>
							<string>pager</string>
						</dict>
					</array>
				</dict>
				<key>value</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>DontNeedCheckBox</key>
					<true/>
					<key>charsFiltering</key>
					<integer>2</integer>
					<key>charsToKeep</key>
					<string>0123456789+#*pw</string>
					<key>maxLength</key>
					<real>255</real>
				</dict>
			</dict>
			<key>com_apple_contacts_Related Name</key>
			<dict>
				<key>IPSGlobalEntity</key>
				<dict>
					<key>Activated</key>
					<false/>
				</dict>
				<key>type</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>mappings</key>
					<array>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>X-FATHER</string>
							<key>originalValue</key>
							<string>father</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>X-MOTHER</string>
							<key>originalValue</key>
							<string>mother</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>X-PARENT</string>
							<key>originalValue</key>
							<string>parent</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>X-CHILDREN</string>
							<key>originalValue</key>
							<string>child</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>X-BROTHER</string>
							<key>originalValue</key>
							<string>brother</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>X-SISTER</string>
							<key>originalValue</key>
							<string>sister</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>X-FRIEND</string>
							<key>originalValue</key>
							<string>friend</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>X-SPOUSE</string>
							<key>originalValue</key>
							<string>spouse</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>X-PARTNER</string>
							<key>originalValue</key>
							<string>partner</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>X-ASSISTANT</string>
							<key>originalValue</key>
							<string>assistant</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>X-MANAGER</string>
							<key>originalValue</key>
							<string>manager</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>X-NAME</string>
							<key>originalValue</key>
							<string>other</string>
						</dict>
					</array>
				</dict>
				<key>value</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>DontNeedCheckBox</key>
					<true/>
					<key>maxLength</key>
					<real>255</real>
				</dict>
			</dict>
			<key>com_apple_contacts_Street Address</key>
			<dict>
				<key>IPSGlobalEntity</key>
				<dict>
					<key>Activated</key>
					<true/>
				</dict>
				<key>city</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>maxLength</key>
					<real>255</real>
				</dict>
				<key>country</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>maxLength</key>
					<real>255</real>
				</dict>
				<key>postal code</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>maxLength</key>
					<real>255</real>
				</dict>
				<key>state</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>maxLength</key>
					<real>255</real>
				</dict>
				<key>street</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>DontNeedCheckBox</key>
					<true/>
					<key>maxLength</key>
					<real>255</real>
				</dict>
				<key>type</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>mappings</key>
					<array>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>WORK</string>
							<key>originalValue</key>
							<string>work</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>HOME</string>
							<key>originalValue</key>
							<string>home</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>originalValue</key>
							<string>other</string>
						</dict>
					</array>
					<key>relationshipLimitKind</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>com_apple_contacts_URL</key>
			<dict>
				<key>IPSGlobalEntity</key>
				<dict>
					<key>Activated</key>
					<true/>
				</dict>
				<key>type</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>mappings</key>
					<array>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>WORK</string>
							<key>originalValue</key>
							<string>work</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>HOME</string>
							<key>originalValue</key>
							<string>home page</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>mappedValue</key>
							<string>HOME</string>
							<key>originalValue</key>
							<string>home</string>
						</dict>
						<dict>
							<key>activated</key>
							<true/>
							<key>originalValue</key>
							<string>other</string>
						</dict>
					</array>
					<key>relationshipLimitKind</key>
					<integer>2</integer>
				</dict>
				<key>value</key>
				<dict>
					<key>Activated</key>
					<true/>
					<key>DontNeedCheckBox</key>
					<true/>
					<key>maxLength</key>
					<real>255</real>
				</dict>
			</dict>
		</dict>
		<key>syncMLOptionsDict</key>
		<dict>
			<key>SyncMLBusySignalingInterval</key>
			<real>240</real>
			<key>SyncMLBusySignalingSupport</key>
			<false/>
			<key>SyncMLLargeObjectSupport</key>
			<true/>
			<key>SyncMLMaxSyncCmdNbInEncodedMsg</key>
			<real>30</real>
			<key>SyncMLNumberOfChangesSupport</key>
			<true/>
			<key>SyncMLOnlyOneBusySignaling</key>
			<false/>
			<key>SyncMLRefreshFromServerSupport</key>
			<false/>
			<key>SyncMLRemoteNeedsRelativePaths</key>
			<false/>
			<key>SyncMLSimulateBusySignalingWithEmptySync</key>
			<false/>
			<key>SyncMLVersion</key>
			<string>SyncML11</string>
			<key>limitSyncCmd</key>
			<true/>
		</dict>
		<key>tasksOptionsDict</key>
		<dict>
			<key>RemoteName</key>
			<string>Tasks</string>
			<key>hasDifferentDataclassesForTasksAndEvents</key>
			<false/>
			<key>hasTasks</key>
			<true/>
		</dict>
		<key>vCalRecSettings</key>
		<dict>
			<key>com_apple_pimsync_events</key>
			<dict>
				<key>handleAllDayRecurrent</key>
				<true/>
			</dict>
			<key>com_apple_pimsync_parser_vCal</key>
			<dict>
				<key>vCalExDatesSupport</key>
				<true/>
				<key>vCalRecDaily</key>
				<true/>
				<key>vCalRecDailyInterval</key>
				<string></string>
				<key>vCalRecDropIfUseless</key>
				<integer>0</integer>
				<key>vCalRecMaxExDatesNb</key>
				<integer>0</integer>
				<key>vCalRecMonthlyByDay</key>
				<true/>
				<key>vCalRecMonthlyByDayOnlyOnStartDateMonthDay</key>
				<false/>
				<key>vCalRecMonthlyByDayOnlyOneMonthDay</key>
				<false/>
				<key>vCalRecMonthlyByDayWithMonthDay</key>
				<true/>
				<key>vCalRecMonthlyByPos</key>
				<true/>
				<key>vCalRecMonthlyByPosOnlyOnStartDateWeekDay</key>
				<false/>
				<key>vCalRecMonthlyByPosOnlyOneWeekDay</key>
				<false/>
				<key>vCalRecMonthlyInterval</key>
				<string></string>
				<key>vCalRecOnlyForever</key>
				<false/>
				<key>vCalRecWeekly</key>
				<true/>
				<key>vCalRecWeeklyInterval</key>
				<string></string>
				<key>vCalRecWeeklyOnlyOnStartDateWeekDay</key>
				<false/>
				<key>vCalRecWeeklyOnlyOneWeekDay</key>
				<false/>
				<key>vCalRecWeeklyWithWeekDay</key>
				<true/>
				<key>vCalRecYearlyByMonth</key>
				<true/>
				<key>vCalRecYearlyByMonthInterval</key>
				<string></string>
				<key>vCalRecYearlyByMonthOnlyOnStartDateMonthNumber</key>
				<integer>1</integer>
				<key>vCalRecYearlyByMonthOnlyOneMonthNumber</key>
				<integer>1</integer>
				<key>vCalRecYearlyByMonthWithMonthNumber</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>version</key>
	<integer>0</integer>
</dict>
</plist>
