<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Gamma_Table FxPlug</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.Gamma_Table_FxPlug</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Gamma_Table FxPlug</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>Gamma_Table_FxPlug</string>
	<key>ProPlugDictionaryVersion</key>
	<string>1.0</string>
	<key>ProPlugDynamicRegistration</key>
	<false/>
	<key>ProPlugPlugInGroupList</key>
	<array>
		<dict>
			<key>groupName</key>
			<string>Gamma_Table_FxPlug</string>
			<key>uuid</key>
<!-- You must change this Group UUID. Use the uuidgen command in Terminal to generate a unique UUID. -->
			<string>F6C56C8A-7F7B-43E5-8C9B-7B2A54D37ADF</string>
		</dict>
	</array>
	<key>ProPlugPlugInList</key>
	<array>
		<dict>
			<key>className</key>
			<string>Gamma_Table_FxPlug</string>
			<key>displayName</key>
			<string>Gamma_Table_FxPlug::FxPlug Name</string>
			<key>group</key>
<!-- You must change this UUID. It must match the Group UUID that you enter above. -->
			<string>F6C56C8A-7F7B-43E5-8C9B-7B2A54D37ADF</string>
			<key>infoString</key>
			<string>Gamma_Table_FxPlug::FxPlug Description</string>
			<key>protocolNames</key>
			<array>
				<string>FxFilter</string>
			</array>
			<key>uuid</key>
<!-- You must change this Plug-In UUID. Use the uuidgen command in Terminal to generate a unique UUID. -->
			<string>9A7A1EDE-ADE1-4D96-B4E2-713ADE89F070</string>
		</dict>
	</array>
	<key>ProPlugProtocolList</key>
	<array>
		<dict>
			<key>protocolName</key>
			<string>FxParameterCreationAPI</string>
			<key>versions</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>protocolName</key>
			<string>FxParameterRetrievalAPI</string>
			<key>versions</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>protocolName</key>
			<string>FxParameterSettingAPI</string>
			<key>versions</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
	</array>
</dict>
</plist>
