<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>WebKitPluginWithJavaScript</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.webkitpluginwithjavascript</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>WebKitPluginWithJavaScript</string>
	<key>CFBundlePackageType</key>
	<string>WBPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSPrincipalClass</key>
	<string>PluginWithJavaScript</string>
	<key>WebPluginDescription</key>
	<string>This is a sample WebKit plug-in that shows how to call JavaScript from an Objective-C plug-in (and vice versa).</string>
	<key>WebPluginMIMETypes</key>
	<dict>
		<key>application/x-javascriptplugin</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>jsp</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>JavaScript Plug-in Data</string>
		</dict>
	</dict>
	<key>WebPluginName</key>
	<string>JavaScript plug-in</string>
</dict>
</plist>
