<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>PBXProjectSourcePath</key>
	<string>/Projects/Cocoa/code/SimpleCocoaMovie sample/Final project/SimpleCocoaMovie/SimpleCocoaMovie.pbproj</string>
</dict>
</plist>
