<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>amc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r187.icns</string>
			<key>CFBundleTypeName</key>
			<string>amc </string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>amc </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>3g2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r186.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/3gpp2</string>
				<string>video/3gpp2</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>3gp2</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>3gp2</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m2v</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r185.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/mpeg2</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>m2v </string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>m2v </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m1v</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>m1v</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>m1v </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>amr</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r179.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/amr</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>amr </string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>amr </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sdv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r179.icns</string>
			<key>CFBundleTypeName</key>
			<string>sdv </string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>sdv </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m4p</string>
				<string>m4b</string>
				<string>m4a</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r129.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/x-m4a</string>
				<string>audio/x-m4b</string>
				<string>audio/x-m4p</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>M4P</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>M4P </string>
				<string>M4B </string>
				<string>M4A </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>3gp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r179.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/3gpp</string>
				<string>video/3gpp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>3gpp</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>3gpp</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>atr</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r139.icns</string>
			<key>CFBundleTypeName</key>
			<string>attr</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>attr</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dvd</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r139.icns</string>
			<key>CFBundleTypeName</key>
			<string>mxfd</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>mxfd</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jp2</string>
				<string>mj2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r176.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/jp2</string>
				<string>video/mj2</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>JPEG2000</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>jp2 </string>
				<string>mjp2</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>qtl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r129.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-quicktimeplayer</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>qtlk</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>qtlk</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp4</string>
				<string>mpg4</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r174.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/mp4</string>
				<string>video/mp4</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>mpg4</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>mpg4</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cdda</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r132.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/aiff</string>
				<string>audio/x-aiff</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>CDDA</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>CDDA</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fpx</string>
				<string>fpix</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r171.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/vnd.fpx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>FPX </string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>FPX </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fpx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r171.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/vnd.fpx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>FPix</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>FPix</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>r162.icns</string>
			<key>CFBundleTypeName</key>
			<string>PNG </string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PNG </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>r141.icns</string>
			<key>CFBundleTypeName</key>
			<string>GIF </string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>GIF </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>r157.icns</string>
			<key>CFBundleTypeName</key>
			<string>BMPp</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BMPp</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>r157.icns</string>
			<key>CFBundleTypeName</key>
			<string>BMP </string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BMP </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tiff</string>
				<string>tif</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r166.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/tiff</string>
				<string>image/x-tiff</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>TIFF</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TIFF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>targa</string>
				<string>tga</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r165.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/x-targa</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>TPIC</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TPIC</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sgi</string>
				<string>rgb</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r164.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/x-sgi</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.SGI</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>.SGI</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>r155.icns</string>
			<key>CFBundleTypeName</key>
			<string>qdgx</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>qdgx</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>png</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r162.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/png</string>
				<string>image/x-png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PNGf</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PNGf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pct</string>
				<string>pic</string>
				<string>pict</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r161.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/pict</string>
				<string>image/x-pict</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PICT</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PICT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>psd</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r160.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/x-photoshop</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>8BPS</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BPS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dif</string>
				<string>dv</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/x-dv</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>xdv</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pntg</string>
				<string>pnt</string>
				<string>mac</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/x-macpaint</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PNTG</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PNTG</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jpeg</string>
				<string>jpg</string>
				<string>jpe</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r158.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/jpeg</string>
				<string>image/pjpeg</string>
				<string>image/jpeg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>JPEG</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>JPEG</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bmp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r157.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/x-bmp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>BMPf</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BMPf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>kar</string>
				<string>mid</string>
				<string>smf</string>
				<string>midi</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r156.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/mid</string>
				<string>audio/midi</string>
				<string>audio/x-midi</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Midi</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Midi</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>qtif</string>
				<string>qti</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r155.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/x-quicktime</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>qtif</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>qtif</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sml</string>
				<string>smi</string>
				<string>smil</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r154.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/smil</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.SMI</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>.SMI</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>r150.icns</string>
			<key>CFBundleTypeName</key>
			<string>PLAY</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PLAY</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>r150.icns</string>
			<key>CFBundleTypeName</key>
			<string>MPG3</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MPG3</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pls</string>
				<string>m3u</string>
				<string>m3url</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/mpegurl</string>
				<string>audio/x-mpegurl</string>
				<string>audio/scpls</string>
				<string>audio/x-scpls</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PlayList</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp3</string>
				<string>swa</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r150.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/x-mp3</string>
				<string>audio/mp3</string>
				<string>audio/x-mpeg3</string>
				<string>audio/mpeg3</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MP3Audio</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Mp3 </string>
				<string>SwaT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sdp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r149.icns</string>
			<key>CFBundleTypeName</key>
			<string>SDP </string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SDP </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rtsp</string>
				<string>rts</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r148.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-rtsp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>RTSP</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>RTSP</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>swf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r147.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-shockwave-flash</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SWFL</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SWFL</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>r146.icns</string>
			<key>CFBundleTypeName</key>
			<string>Cach</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Cach</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>qmed</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>qmed</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>BINA</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BINA</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>r135.icns</string>
			<key>CFBundleTypeName</key>
			<string>.WAV</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>.WAV</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sd2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r142.icns</string>
			<key>CFBundleTypeName</key>
			<string>Sd2f</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Sd2f</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gif</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r141.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/gif</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>GIFf</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>GIFf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fli</string>
				<string>flc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r140.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/flc</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>FLI </string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>FLI </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r139.icns</string>
			<key>CFBundleTypeName</key>
			<string>dvc!</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>dvc!</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>avi</string>
				<string>vfw</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r138.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/x-msvideo</string>
				<string>video/msvideo</string>
				<string>video/avi</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>VfW </string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>VfW </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>au</string>
				<string>ulw</string>
				<string>snd</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r137.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/basic</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ULAW</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ULAW</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpa</string>
				<string>mpm</string>
				<string>mp2</string>
				<string>mpeg</string>
				<string>mpg</string>
				<string>m1s</string>
				<string>m1a</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r134.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/x-mpeg</string>
				<string>audio/mpeg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MPEGAudio</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MPG </string>
				<string>MPEG</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wav</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r135.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/x-wav</string>
				<string>audio/wav</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>WAVE</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>WAVE</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gsm</string>
				<string>qcp</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/x-gsm</string>
				<string>audio/vnd.qcelp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>OtherAudio</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>celp</string>
				<string>Sd2f</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpeg</string>
				<string>m15</string>
				<string>m75</string>
				<string>mpg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r134.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/x-mpeg</string>
				<string>video/mpeg</string>
				<string>video/mpeg2</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MPGVideo</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MPG </string>
				<string>MPEG</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aifc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r133.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/aiff</string>
				<string>audio/x-aiff</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>AIFC</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AIFC</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aiff</string>
				<string>aif</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r132.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/aiff</string>
				<string>audio/x-aiff</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>AIFF</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AIFF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>r131.icns</string>
			<key>CFBundleTypeName</key>
			<string>TVex</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TVex</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>r130.icns</string>
			<key>CFBundleTypeName</key>
			<string>sooV</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>sooV</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>qt</string>
				<string>mov</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>r129.icns</string>
			<key>CFBundleTypeName</key>
			<string>MooV</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MooV</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
				<string>text</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Anything</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PDF</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>QTPMovieDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>QTQuartzPlayer</string>
	<key>CFBundleIconFile</key>
	<string>icon</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.QTQuartzPlayer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>aDTS</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
