<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CIPlugInFilterList</key>
	<dict>
		<key>CompositeFilter</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryStylize</string>
					<string>CICategoryVideo</string>
					<string>CICategoryStillImage</string>
				</array>
			</dict>
			<key>CIFilterClass</key>
			<string>CompositeFilter</string>
		</dict>

		<key>GPUGemsAreaMean</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryStylize</string>
					<string>CICategoryVideo</string>
					<string>CICategoryStillImage</string>
				</array>
			</dict>
			<key>CIFilterClass</key>
			<string>GPUGemsAreaMean</string>
		</dict>

		<key>Centroid</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryStylize</string>
					<string>CICategoryVideo</string>
					<string>CICategoryStillImage</string>
				</array>
			</dict>
			<key>CIFilterClass</key>
			<string>Centroid</string>
		</dict>

		<key>CoordinateMaskWithColor</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryStylize</string>
					<string>CICategoryVideo</string>
					<string>CICategoryStillImage</string>
				</array>
			</dict>
			<key>CIFilterClass</key>
			<string>CoordinateMaskWithColor</string>
		</dict>

		<key>MaskFromColor</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryStylize</string>
					<string>CICategoryVideo</string>
					<string>CICategoryStillImage</string>
				</array>
			</dict>
			<key>CIFilterClass</key>
			<string>MaskFromColor</string>
		</dict>
	</dict>
	<key>CIPlugInVersion</key>
	<integer>1</integer>
</dict>
</plist>
