A:link {
	color: blue;
	text-decoration: underline;
}
A:visited {
	color: purple;
	text-decoration: underline;
}
A:active {
	color: red;
	text-decoration: underline;
}
P.Body {
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 6.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 10.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: Times;
}
H1.Body-Text, H2.Body-Text, H3.Body-Text, H4.Body-Text, H5.Body-Text, H6.Body-Text {
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 12.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: Geneva;
}
P.Bulleted {
	text-align: left;
	text-indent: -13.744797pt;
	margin-top: 3.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 13.744797pt;
	font-size: 10.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: Times;
}
P.BulletedCont {
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 3.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 13.744797pt;
	font-size: 10.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: Times;
}
P.CellBody {
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 9.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: Times;
}
P.CellHeading {
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 9.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: Times;
}
mypre.Code {
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 9.000000pt;
	font-size: 8.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: Courier;
}
H1.Code-Listing, H2.Code-Listing, H3.Code-Listing, H4.Code-Listing, H5.Code-Listing, H6.Code-Listing {
	text-align: center;
	text-indent: 0.000000pt;
	margin-top: 18.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 10.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: Times;
}
P.Equation {
	text-align: center;
	text-indent: 0.000000pt;
	margin-top: 10.000000pt;
	margin-bottom: 6.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 10.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: Times;
}
BLOCKQUOTE.Extract {
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 7.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 18.000000pt;
	margin-left: 18.000000pt;
	font-size: 9.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: Times;
}
H1.Figure, H2.Figure, H3.Figure, H4.Figure, H5.Figure, H6.Figure {
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 12.000000pt;
	margin-bottom: 16.000000pt;
	margin-right: 0.000000pt;
	margin-left: 13.744797pt;
	font-size: 10.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: Times;
}
P.Footnote {
	text-align: left;
	text-indent: -12.000000pt;
	margin-top: 3.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 12.000000pt;
	font-size: 9.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: Times;
}
H1.Heading1, H2.Heading1, H3.Heading1, H4.Heading1, H5.Heading1, H6.Heading1 {
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 28.000000pt;
	margin-bottom: 6.000000pt;
	margin-right: 48.023987pt;
	margin-left: 0.000000pt;
	font-size: 12.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: Helvetica;
}
H1.Heading2, H2.Heading2, H3.Heading2, H4.Heading2, H5.Heading2, H6.Heading2 {
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 24.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 12.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: Helvetica;
}
H1.Heading3, H2.Heading3, H3.Heading3, H4.Heading3, H5.Heading3, H6.Heading3 {
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 18.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 9.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: uppercase;
	font-family: Helvetica;
}
H1.HeadingRunIn, H2.HeadingRunIn, H3.HeadingRunIn, H4.HeadingRunIn, H5.HeadingRunIn, H6.HeadingRunIn {
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 12.000000pt;
	margin-bottom: 6.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 10.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: Times;
}
P.Numbered {
	text-align: left;
	text-indent: -13.744797pt;
	margin-top: 3.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 13.744797pt;
	font-size: 10.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: Times;
}
P.Numbered1 {
	text-align: left;
	text-indent: -13.744797pt;
	margin-top: 3.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 13.744797pt;
	font-size: 10.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: Times;
}
P.NumberedCont {
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 3.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 13.744797pt;
	font-size: 10.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: Times;
}
H1.Synopsis, H2.Synopsis, H3.Synopsis, H4.Synopsis, H5.Synopsis, H6.Synopsis {
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 28.000000pt;
	margin-bottom: 6.000000pt;
	margin-right: 48.023987pt;
	margin-left: 0.000000pt;
	font-size: 12.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: Helvetica;
}
P.TableFootnote {
	text-align: left;
	text-indent: -12.000000pt;
	margin-top: 3.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 18.000000pt;
	margin-left: 18.000000pt;
	font-size: 9.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: Times;
}
H1.TableTitle, H2.TableTitle, H3.TableTitle, H4.TableTitle, H5.TableTitle, H6.TableTitle {
	text-align: center;
	text-indent: 0.000000pt;
	margin-top: 18.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 13.744797pt;
	font-size: 10.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: Times;
}
H1.TopictTitle, H2.TopictTitle, H3.TopictTitle, H4.TopictTitle, H5.TopictTitle, H6.TopictTitle {
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 140.000000pt;
	margin-right: 108.000000pt;
	margin-left: 0.000000pt;
	font-size: 24.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: Helvetica;
}
P.Warning {
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 6.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 10.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: Times;
}
THROW AWAY.BulletSymbol {
	font-size: 10.000000pt;
	font-weight: Bold;
	font-style: Regular;
	text-decoration: none;
	vertical-align: baseline;
	font-family: Courier;
}
EM.Callout {
	font-size: 8.000000pt;
	font-weight: Medium;
	font-style: Regular;
	text-decoration: none;
	vertical-align: baseline;
	font-family: Helvetica;
}
EM.Code {
	font-size: 8.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: Courier;
}
EM.Emphasis {
	font-style: Italic;
}
THROW AWAY.EquationNumber {
	font-size: 8.000000pt;
	font-weight: Bold;
	font-style: Regular;
	text-decoration: none;
	vertical-align: baseline;
	font-family: Helvetica;
}
EM.EquationVariables {
	font-style: Italic;
}
PLAIN TEXT.FirstLetter {
	font-size: 36.000000pt;
	font-weight: medium;
	font-style: Italic;
	text-decoration: none;
	vertical-align: baseline;
	font-family: Times;
}
THROW AWAY.StepNumber {
	font-size: 8.000000pt;
	font-weight: Bold;
	font-style: Regular;
	text-decoration: none;
	vertical-align: baseline;
	font-family: Helvetica;
}
