{
    attributes = (
        {
            allowsNull = Y; 
            columnName = ADDRESS; 
            externalType = char; 
            name = address; 
            valueClassName = NSString; 
            width = 30; 
        }, 
        {
            allowsNull = Y; 
            columnName = CITY; 
            externalType = char; 
            name = city; 
            valueClassName = NSString; 
            width = 30; 
        }, 
        {
            allowsNull = Y; 
            columnName = FIRST_NAME; 
            externalType = char; 
            name = firstName; 
            valueClassName = NSString; 
            width = 30; 
        }, 
        {
            allowsNull = Y; 
            columnName = LAST_NAME; 
            externalType = char; 
            name = lastName; 
            valueClassName = NSString; 
            width = 30; 
        }, 
        {
            columnName = OID; 
            externalType = int; 
            name = oid; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = STATE; 
            externalType = char; 
            name = state; 
            valueClassName = NSString; 
            width = 2; 
        }, 
        {
            allowsNull = Y; 
            columnName = ZIPCODE; 
            externalType = char; 
            name = zipCode; 
            valueClassName = NSString; 
            width = 30; 
        }
    ); 
    attributesUsedForLocking = (firstName, lastName, address, city, state, zipCode, oid); 
    className = Person; 
    classProperties = (firstName, lastName, address, city, state, zipCode); 
    externalName = PERSON; 
    fetchSpecificationDictionary = {}; 
    name = Person; 
    primaryKeyAttributes = (oid); 
}
