<style type="text/css">
<!--
a:link,
A:link
	{
	color: #000099;
	text-decoration: underline;
	}

a:hover,
A:hover
	{
	color: #FF6600;
	}


H1,
h1
	{
	font-family: geneva, helvetica, arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	}

td,
TD,
ol,
OL,
ul,
UL,
li,
LI
	{
	font-family: geneva, helvetica, arial, sans-serif;
	font-size: 10px;
	}

/*the following tags are use span tags. For example to use the  bodytitle style*/
/* use the following syntax <span id="bodytitle"></span>*/

#bodytext
	{
	font-family: geneva, helvetica, arial, sans-serif;
	font-size: 10px;
	}
	
#bodytextlarge
	{
	font-family: geneva, helvetica, arial, sans-serif;
	font-size: 12px;
	}
	
#bodytitle
	{
	font-family: geneva, helvetica, arial, sans-serif;
	font-size: 10px;
	font-weight: bold;
	}

#bodytitlelarge2
	{
	font-family: geneva, helvetica, arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	}

#bodytitlelarge
	{
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	}

#callout
	{
	font-family: geneva, helvetica, arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #737373;
	}
	
#calloutsubitem
	{
	font-family: geneva, helvetica, arial, sans-serif;
	font-size: 10px;
	color: #666666;
	}

#resourcetitle
	{
	font-family: geneva, helvetica, arial, sans-serif;
	font-size: 10px;
	font-weight: bold;
	}

#resourcetext
	{
	font-family: helvetica, geneva, arial, sans-serif;
	font-size: 10px;
	}
	
#resourcehead
	{
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #808080;
	}

#mkt
	{
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	}

#mkt2
	{
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	}

#breadcrumb
	{
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	}

#breadcrumblocation
	{
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #CC6600;
	}


#menutitle
	{
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin-left: 10px;
	}
		
#menutext
	{
	font-family: helvetica, geneva, arial, sans-serif;
	font-size: 10px;
	margin-left: 10px;
	line-height: 14px;
	}
	
#source
	{
	font-family: helvetica, geneva, arial, sans-serif;
	font-size: 9px;
	font-style: italic;
	color: #666666;
	}
-->
</style>
