{
    attributes = (
        {
            allowsNull = Y; 
            columnName = MARKET_CHANNEL; 
            externalType = char; 
            name = marketChannel; 
            valueClassName = NSString; 
            width = 50; 
        }, 
        {
            columnName = OID; 
            externalType = int; 
            name = oid; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = OID_CUSTOMER; 
            externalType = int; 
            name = oidCustomer; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = OID_ORDER_ITEMS; 
            externalType = int; 
            name = oidOrderItems; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = ORDER_NUMBER; 
            externalType = char; 
            name = orderNumber; 
            valueClassName = NSString; 
            width = 30; 
        }
    ); 
    attributesUsedForLocking = (oidCustomer, oid, orderNumber, oidOrderItems, marketChannel); 
    className = Order; 
    classProperties = (orderNumber, toCustomer, toOrderItems, marketChannel); 
    externalName = ORDER; 
    fetchSpecificationDictionary = {}; 
    name = Order; 
    primaryKeyAttributes = (oid); 
    relationships = (
        {
            destination = Customer; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = oid; sourceAttribute = oidCustomer; }); 
            name = toCustomer; 
        }, 
        {
            destination = OrderItems; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = oid; sourceAttribute = oidOrderItems; }); 
            name = toOrderItems; 
        }
    ); 
}
