<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://www.investors.com/RssFeed/Business.xml</string>
	<string>http://www.theregister.co.uk/headlines.rss</string>
	<string>http://feeds.feedburner.com/blogspot/nUOA</string>
	<string>http://startup.blogscorp.com/atom.xml</string>
	<string>http://www.allbusiness.com/blog/rss.asp?ID=3882</string>
	<string>http://feeds.feedburner.com/ventureblog</string>
	<string>http://www.nytimes.com/services/xml/rss/nyt/Arts.xml</string>
	<string>http://rss.time.com/web/time/rss/arts/index.xml</string>
	<string>http://rss.arrivenet.com/25topstories.rss</string>
	<string>http://www.nytimes.com/services/xml/rss/nyt/Sports.xml</string>
	<string>http://feeds.feedburner.com/foxsports/rss/headlines</string>
	<string>http://www.sportsline.com/partners/feeds/rss/home_news</string>
	<string>http://rss.news.yahoo.com/rss/sports</string>
	<string>http://rssnewsapps.ziffdavis.com/tech.xml</string>
	<string>http://www.gizmodo.com/index.xml</string>
	<string>http://www.informationweek.com/rss/all.xml</string>
	<string>http://www.makezine.com/blog/index.xml</string>
	<string>http://opensource.org/weblog/index.rss</string>
	<string>http://feeds.feedburner.com/reuters/technologyNews/</string>
</array>
</plist>
