<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>biz</key>
	<array>
		<string>http://www.ameinfo.com/rssfeeds/1976.xml</string>
		<string>http://www.ameinfo.com/rssfeeds/1940.xml</string>
		<string>http://newsrss.bbc.co.uk/rss/newsonline_world_edition/business/rss.xml</string>
		<string>http://blogbusinessworld.blogspot.com/atom.xml</string>
		<string>http://www.ecommercetimes.com/perl/syndication/rssfull.pl</string>
		<string>http://www.siliconbeat.com/atom.xml</string>
		<string>http://feeds.feedburner.com/reuters/businessNews/</string>
	</array>
	<key>entertainment</key>
	<array>
		<string>http://www.cbsnews.com/feeds/rss/entertainment.rss</string>
		<string>http://syndication.boston.com/ae/movies/movies_rss_feed?mode=rss_10</string>
		<string>http://rss.news.yahoo.com/rss/arts</string>
		<string>http://news.scotsman.com/arts.cfm?format=rss</string>
		<string>http://feeds.feedburner.com/dailygame/xJXe</string>
		<string>http://feeds.feedburner.com/MtvOverdriveNews</string>
		<string>http://feeds.feedburner.com/reuters/entertainment/</string>
	</array>
	<key>sports</key>
	<array>
		<string>http://newsrss.bbc.co.uk/rss/sportonline_world_edition/front_page/rss.xml</string>
		<string>http://sports.espn.go.com/espn/rss/news</string>
		<string>http://msn.foxsports.com/feedout/syndicatedContent?categoryId=0</string>
		<string>http://www.nbc11.com/sports/topstory.rss</string>
		<string>http://hosted.ap.org/lineups/SPORTSHEADS-rss_2.0.xml?SITE=COBOU&amp;SECTION=HOME</string>
		<string>http://cbs.sportsline.com/partners/feeds/rss/home_news</string>
		<string>http://feeds.feedburner.com/reuters/sportsNews/</string>
	</array>
	<key>tech</key>
	<array>
		<string>http://images.apple.com/main/rss/hotnews/hotnews.rss</string>
		<string>http://arstechnica.com/index.ars/rss</string>
		<string>http://newsrss.bbc.co.uk/rss/newsonline_world_edition/technology/rss.xml</string>
		<string>http://news.com.com/2547-1_3-0-20.xml</string>
		<string>http://feeds.computerworld.com/Computerworld/TopNews</string>
		<string>http://www.engadget.com/rss.xml</string>
		<string>http://rssnewsapps.ziffdavis.com/pcmag.xml</string>
	</array>
</dict>
</plist>
