<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>QuickTime Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>SimpleVideoOut X</string>
	<key>CFBundleGetInfoString</key>
	<string>SimpleVideoOut Version 2.0.5</string>
	<key>CFBundleIconFile</key>
	<string>SimpleVideoOut X.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.SimpleVideoOut</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SimpleVideoOut X</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.5</string>
	<key>CFBundleSignature</key>
	<string>svos</string>
	<key>CFBundleVersion</key>
	<string>2.0.5</string>
	<key>CSResourcesFileMapped</key>
	<true/>
</dict>
</plist>
