<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PBXProjectSourcePath</key>
	<string>/Projects/Image Capture/TWAIN stuff/SDK/Button listener for ADC website/SampleButtonPlugin/SamplePlugin.pbproj</string>
</dict>
</plist>
