<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>ccni</key>
	<string>Capture new image</string>
	<key>del1</key>
	<string>Delete one image</string>
	<key>dela</key>
	<string>Delete all images</string>
	<key>load</key>
	<string>Upload data</string>
	<key>sclk</key>
	<string>Sync clock</string>
</dict>
</plist>
