<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DataClasses</key>
	<array>
		<dict>
			<key>ImagePath</key>
			<string>Stickies.icns</string>
			<key>Name</key>
			<string>com.mycompany.Stickies</string>
		</dict>
	</array>
	<key>Entities</key>
	<array>
		<dict>
			<key>Attributes</key>
			<array>
				<dict>
					<key>Name</key>
					<string>text</string>
					<key>Type</key>
					<string>data</string>
                    <key>Required</key>
                    <true/>
				</dict>
				<dict>
					<key>Name</key>
					<string>color</string>
					<key>Type</key>
					<string>color</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>originX</string>
					<key>Type</key>
					<string>number</string>
                    <key>Required</key>
                    <true/>
				</dict>
				<dict>
					<key>Name</key>
					<string>originY</string>
					<key>Type</key>
					<string>number</string>
                    <key>Required</key>
                    <true/>
				</dict>
				<dict>
					<key>Name</key>
					<string>width</string>
					<key>Type</key>
					<string>number</string>
                    <key>Required</key>
                    <true/>
				</dict>
				<dict>
					<key>Name</key>
					<string>height</string>
					<key>Type</key>
					<string>number</string>
                    <key>Required</key>
                    <true/>
				</dict>
				<dict>
					<key>Name</key>
					<string>createDate</string>
					<key>Type</key>
					<string>date</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>floating</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>translucent</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>shaded</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
			</array>
			<key>DataClass</key>
			<string>com.mycompany.Stickies</string>
			<key>IdentityProperties</key>
			<array>
				<string>text</string>
			</array>
			<key>Name</key>
			<string>com.mycompany.stickies.Note</string>
		</dict>
	</array>
	<key>Name</key>
	<string>com.mycompany.Stickies</string>
</dict>
</plist>
