<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ImageFile</string>
	<key>CFBundleIconFile</key>
	<string>ImageFile.icns</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ImageFile</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>Java</key>
	<dict>
		<key>ClassPath</key>
		<array>
			<string>$JAVAROOT/ImageFile.jar</string>
			<string>../../../media</string>
		</array>
		<key>JVMVersion</key>
		<string>1.4+</string>
		<key>MainClass</key>
		<string>ImageFileDemo</string>
		<key>Properties</key>
		<dict>
			<key>com.apple.eawt.CocoaComponent.CompatibilityMode</key>
			<string>false</string>
		</dict>
	</dict>
	<key>NSJavaPath</key>
	<array>
		<string>ImageFile.jar</string>
	</array>
	<key>NSJavaRoot</key>
	<string>Contents/Resources/Java</string>
</dict>
</plist>
